[2020-01-28 17:44] ZirconiumX commented on #1663
[code]
I'm pretty sure these are for Fortran code, which Yosys isn't, so we can immediately ignore those.

[2020-01-28 18:13] gsomlo commented on #1663
Makes sense, I just wanted to err on the side of not leaving anything
out :)

[2020-01-28 18:13] ZirconiumX commented on #1663
[code]

I can reproduce it.

[2020-01-28 18:34] ZirconiumX commented on #1663
Line 2607 of `frontends/ast/simplify.cc` is crashing.
https://github.com/YosysHQ/yosys/blob/4ddaa70fd6363096bf0cb1bc5e7cb8fa8ed21ad2/frontends/ast/simplify.cc#L2604-L2610

[2020-01-28 18:43] ZirconiumX commented on #1663
So, in this case, `current_scope[str]->children[0]->bits` is of size 1, and `index` is `1`, so `current_scope[str]->children[0]->bits[index]` accesses out of bounds memory.

[2020-01-28 18:43] ZirconiumX commented on #1663
I think this is one for @cliffordwolf.

[2020-01-28 19:36] eddiehung commented on #1663
Valgrind output:
[code]
It looks like #1569 didn't fully fix this.

[2020-01-28 19:55] #1597 closed

[2020-01-29 00:29] ZirconiumX opened #1664 "`help synth_xilinx` segfaults"
## Steps to reproduce the issue

With Yosys 7939727d, run `help synth_xilinx`

## Expected behavior

The command doesn't crash.

## Actual behavior

[code]

GDB states the line causing the crash is
https://github.com/YosysHQ/yosys/blob/7939727d14f44b5d56ca3806d0907e9fceea2882/techlibs/xilinx/synth_xilinx.cc#L319
which makes sense as there *is* no active design in this context.

[2020-01-29 01:42] #1664 closed

[2020-01-29 10:46] mmicko commented on #1556
Fixed with  #1559

[2020-01-29 10:46] #1556 closed

[2020-01-29 14:21] #1080 closed

[2020-01-31 22:48] rodrigomelo9 commented on #1655
Hi @deepali9, it was implemented in #758.

You can create a file called `test.tcl` with:
[code]
And after that run:
[code]

[2020-02-01 08:59] mwkmwkmwk commented on #1058
Given that #1060 is already merged, I think we can cross off the final TODO list item, and close this issue?

[2020-02-01 14:29] mwkmwkmwk commented on #1653
@mkurc-ant could you test whether #1672 fixes this issue?

[2020-02-02 17:10] adumont opened #1675 "ABC: execution of command "..." failed: return code 134."
## Steps to reproduce the issue

[code]
Failing commit is 2b4180c2bf508fead7d1d14def8600957124f50b.

will try to synthesize the design. The step:

[code]
fails with:

[code]

[code]

I've uploaded some stuff from the /tmp/yosys-abc-eQGZWS:

[yosys-abc-eQGZWS.zip](https://github.com/YosysHQ/yosys/files/4144709/yosys-abc-eQGZWS.zip)

My toolchain is updated to latest git version (tool/commit sha):

[2020-02-02 17:14] adumont commented on #1675
Full build log of working commit: (Build 222) https://travis-ci.com/adumont/hrm-cpu/builds/147103961#L1596

Build log of failing commit: (Build 223) https://travis-ci.com/adumont/hrm-cpu/builds/147104799

[2020-02-03 08:27] mkurc-ant commented on #1653
@mwkmwkmwk I confirm, the Yosys + Vivado flow completes successfully and the design works in hardware.

[2020-02-03 11:42] eine commented on #1640
@eddiehung, @daveshah1, @mmicko, would you mind providing a brief opinion? Is this feasible/interesting (although not prioritary)?

[2020-02-03 13:27] towoe opened #1676 "Preservation of escaped identifier"
SystemVerilog allows escaped identifiers in Section 5.6.1.
The rule is that they must start with an backslash and end with a white space. All printable ASCII characters are included in the name.

Yosys can read those identifiers, but when using `write_ilang` or `write_smt2` there is a problem if the identifiers are not in the top level of the hierarchy. This is because the path to the identifier i

[2020-02-04 07:28] whitequark commented on #1676
It looks to me that the problem here is that SymbiYosys doesn't have an understanding of hierarchy. AFAIU, in SV, the signal should be referred to as `UUT.\escaped[1] `, i.e. with each level individually escaped. This is a problem because Yosys currently uses "in-band signaling" for hierarchy: an escaped identifier `\UUT.escaped[1]` and a hierarchical identifier `UUT.\escaped[1]` would result in t

[2020-02-04 09:30] towoe commented on #1676
I also think that `UUT.\escaped[1]` would be the correct reference to the signal.
Yes, I think Yosys will generate a flattened RTLIL name independent of the actual escaped signal name.
So this would mean that the RTLIL name handling would need updating, in order to have the correct escaped hierarchy name at a later stage? This would sound like a major change.

[2020-02-05 04:09] whitequark commented on #1676
Yes. Unless @cliffordwolf has something better in mind here, I think `IdString` should be changed to be a list of identifiers rather than a single identifier. It seems very invasive and laborous.

[2020-02-05 18:17] eddiehung commented on #1675
Hi @adumont. Thanks for the report. Your diff looks innocuous enough that this looks to be a bug in upstream ABC [berkeley-abc/abc](https://github.com/berkeley-abc/abc), perhaps hitting an obscure corner case that wasn't triggered before. Would you like to report it there?

An example that I did earlier is here: berkeley-abc/abc#61 and uses the equivalent test-case that you attached as `yosys-abc-

[2020-02-05 18:40] eddiehung commented on #1561
Can still reproduce this on the latest master 5ebdc0f8

[2020-02-05 19:00] adumont commented on #1675
Hi @eddiehung ,

Thanks for the feedback.

First of all, I have tried the `scratchpad -set abc.script +strash;ifraig;scorr;dc2;dretime;strash;dch,-f;if;mfs2`before `synth_ice40` and **it worked**.

I'll open an issue in [berkeley-abc/abc](https://github.com/berkeley-abc/abc).

Feel free to close this issue then :). Thanks a lot.

[2020-02-05 21:10] Kmanfi commented on #486
See #1516
FYI, @daveshah1

[2020-02-05 21:14] daveshah1 commented on #486
Thanks for pointing this out @Kmanfi! Indeed these are now supported.

[2020-02-05 21:14] #486 closed

[2020-02-05 21:22] AlexDaniel commented on #486
Amazing! Thank you!

[2020-02-05 23:04] eddiehung commented on #1640
Thanks for the suggestion @eine. I have no opinion on this since I haven't worked with the plugin infrastructure; I think @cliffordwolf is the best person to ask.

[2020-02-06 01:24] eddiehung commented on #1663
Hi @gsomolo -- I had another stab at fixing this testcase. Let me know if it's working for you!

[2020-02-06 06:23] whitequark commented on #1640
There is already no such problem since the moment I added support for out-of-process frontends with `connect_rpc`. (But I'm still in favor of improving the plugin infrastructure, since it means better out-of-box experience for Yosys users.)

[2020-02-06 08:43] eine commented on #1640
@whitequark, I'm sorry but I don't understand what you mean. Which problem does not exist? Do you mean 'no licensing issues' or 'no conflict from having multiple frontends for the same language'?

[2020-02-06 10:48] whitequark commented on #1640
@eine No licensing issues.

[2020-02-06 16:33] gsomlo commented on #1663
Thanks @eddiehung -- PR #1681 builds and passes all tests when compiled with Fedora flags. I also managed to test it by building a LiteX+Rocket SoC, which works as before, so no further regressions that I'm aware of at this time -- Much appreciated!

[2020-02-06 17:45] #1653 closed

[2020-02-07 08:03] #1547 closed

[2020-02-07 08:03] #1549 closed

[2020-02-07 08:09] mwkmwkmwk commented on #448
Update: initial support for LUT4 devices (including Spartan 3*) has just landed in master. This includes general logic, wide LUTs, carry chains, LUT RAM, block RAM.  Things still missing (in comparison to Spartan 6 / Series 7):

- [ ] shift register inference (#1548 )
- [ ] wide mux mapping (which needs to be redone in a more generic way anyhow)
- [ ] ABC9 support (needs timing models)

[2020-02-08 09:56] Dolu1990 opened #1688 "$finish statement in always blocks produce errors"
## Steps to reproduce the issue

[yosysFinishIssue.zip](https://github.com/YosysHQ/yosys/files/4174004/yosysFinishIssue.zip)

just do a make in the decompressed archive.

## Actual behavior

[code]

## Expected behavior

Yosys should probably process the $finish statement as a warning, not as an error/failure, as it does for the $display statement.

I tested that code on Quartus, Vivado, Diamond s

[2020-02-08 10:07] whitequark commented on #1688
You can use <code>`ifdef SYNTHESIS</code>.

[2020-02-08 10:12] daveshah1 opened #1689 "Recursive module instantations cause stack overflow"
MCVE:
[code]
[code]

Produces
[code]

Backtrace:
[code]
(and so on)

Reduced from a testcase from @cr1901 which involved a missing `-lib`, it would be nice to error out here more meaningfully.

[2020-02-08 10:55] Dolu1990 commented on #1688
@whitequark
Thanks for the info, didn't know the SYNTHESIS stuff was part of the spec.
So for me that's fine, it fix my issue.

Still, should it be keept open because of the $display $finish  inequality of treatment ?

[2020-02-08 12:57] carlospilotto opened #1690 "Oi"
## Steps to reproduce the issue

*Provide instructions for reproducing the issue. Make sure to include
all necessary source files. (You can simply drag&drop a .zip file into
the issue editor.)*

Also, make sure that the issue is actually reproducable in current git
master of Yosys.

See https://stackoverflow.com/help/mcve for some information on how to
create a Minimal, Complete, and Verifiable ex

[2020-02-08 13:29] #1690 closed

[2020-02-08 15:43] rezayat2006 commented on #1410
Tnx 6

[2020-02-09 01:15] rqou opened #1692 "Rolling back commits without doing make clean can trigger classic "No rule to make target" error"
## Steps to reproduce the issue

1. Compile a recent version of yosys such as master or commit (7033503cd9e40e16c11fe6c805a436b0e23989dd)
2. Do a git checkout of a very old revision (such as acd8bc0a7496c69864a7dd032eb7f4db7e2e1f2d)
3. Try to compile without doing a make clean

## Expected behavior

Build should succeed

## Actual behavior

[code]

## Note

I'm pretty sure this is the classic Make

[2020-02-09 01:50] rqou opened #1693 "JSON port `upto` and `offset` fields aren't documented"
## Steps to reproduce the issue

1. Notice that the source code can sometimes output `offset` and `upto` fields (https://github.com/YosysHQ/yosys/blob/00fba627118fb536686b3d30f3b81f71b513cd51/backends/json/json.cc#L153-L156)
2. Notice that the help message does not explain what these fields do (https://github.com/YosysHQ/yosys/blob/00fba627118fb536686b3d30f3b81f71b513cd51/backends/json/json.cc#L32

[2020-02-09 11:03] mwkmwkmwk commented on #1693
Seems the help message will need more fixing (in particular for my own change in parameter encoding).

[2020-02-09 11:19] whitequark commented on #1693
They are also not explained in the Yosys manual, unfortunately, because I'd really like to know how they work.

[2020-02-09 11:40] mwkmwkmwk commented on #1693
FYI: start offset is the lowest valid bit index (ie. `wire [13:3] A;` and `wire [3:13] B;`) both have the offset equal to 3.  `upto` is true when MSB is the one with the lowest valid bit index (ie. for the second one above).

[2020-02-09 11:52] whitequark commented on #1693
Thanks for explanation. How does this look in RTLIL? Suppose an entire wire is assigned some constant, does the bit 0 of the constant go to bit 0 of the wire, or to the lowest valid bit index of the wire, or to the LSB of the wire?

[2020-02-09 12:13] mwkmwkmwk commented on #1693
When assigning, LSB is always aligned with the other LSB (and yosys internally always indexes stuff starting from LSB == 0). `start_offset` and `upto` are only used when you use the verilog indexing/slicing operators (`a[x]` or `a[x:y]`).

[2020-02-09 13:09] whitequark commented on #1693
Hm, I'm confused now. If `start_offset` and `upto` are purely a Verilog concern, and do not influence *computations* on wires, why do they exist in RTLIL? Doesn't the frontend already have all that information, and doesn't the backend not need it at all?

[2020-02-09 13:15] daveshah1 commented on #1693
At least one reason is so that bus naming is correct, eg for pin constraints in nextpnr, the lowest bit of a [8:1] bus should be postfixed [1] not [0]

[2020-02-09 13:16] whitequark commented on #1693
Makes sense. Unless someone else wants to do it, I'll update the manual.

[2020-02-09 15:02] whitequark commented on #1693
#1695

[2020-02-10 22:36] jhallen opened #1697 "fail to build picorv32_versa5g example from prjtrellis"
#1497  Steps to reproduce the issue

With:
 Yosys 0.9+1706 (git sha1 c244b27b, gcc 7.4.0-1ubuntu1~18.04.1 -fPIC -Os)

Type "make attosoc.json" from prjtrellis/examples/picorv32_versa5g

(the code is here: https://github.com/SymbiFlow/prjtrellis/tree/master/examples/picorv32_versa5g
)

And it fails with this assert, but it used to work with Yosys 0.9+932 (git sha1 22fe931c):

. . .
4.47.1.1. Execut

[2020-02-11 10:33] daveshah1 commented on #1697
Seems to be another case of #1675, which is believed to be an upstream ABC issue. There is a workaround there too. Another workaround would be to try `synth_ecp5 -abc9` at https://github.com/SymbiFlow/prjtrellis/blob/master/examples/picorv32_versa5g/Makefile#L16

[2020-02-12 11:02] Kmanfi opened #1698 "Masked array index in for loop."
[code]
## Expected behavior

Memory access to invalid location [4] should obey mask i<3.

## Actual behavior

For loop evaluates [i+1] with value 3, leading invalid location [4].

[2020-02-12 13:14] mwkmwkmwk commented on #1698
It seems to be a duplicate of #1649 .  See #1651 for a (not quite ready yet) fix.

[2020-02-12 13:18] Kmanfi commented on #1698
Agree, so close this.

[2020-02-12 13:18] #1698 closed

[2020-02-13 06:03] ninhho commented on #418
Hi salmansheikh,

I got the similar issue with yours
[  9%] Building frontends/ilang/ilang_parser.tab.cc
frontends/ilang/ilang_parser.y:48.20-44: syntax error, unexpected {...}
frontends/ilang/Makefile.inc:8: recipe for target 'frontends/ilang/ilang_parser.tab.cc' failed
make: *** [frontends/ilang/ilang_parser.tab.cc] Error 1

bison (GNU Bison) 2.4.1
flex 2.5.35
cmake version 3.4.3
Is there any li

[2020-02-13 16:08] nakengelhardt commented on #418
@ninhho have you installed all the libraries listed in the [Setup section of the readme](https://github.com/YosysHQ/yosys#setup)?

[2020-02-13 22:17] mwkmwkmwk opened #1704 "Investigate zero-width attributes emitted by `dffinit`"
See #1694

[2020-02-14 16:29] eddiehung commented on #1689
Likely related: #1127

[2020-02-15 09:38] ninhho commented on #418
@nakengelhardt As far as I know, I installed below (in **Bold**)
**clang bison flex** \
	libreadline-dev gawk tcl-dev **libffi-dev** **git** \
	graphviz xdot **pkg-config** **python3** libboost-system-dev \
	libboost-python-dev libboost-filesystem-dev zlib1g-dev

How can I know each of them installed or not? Thank you.

[2020-02-15 09:42] daveshah1 commented on #418
You probably want a newer version of bison - 2.4.1 looks to be from 2008!

[2020-02-15 09:44] ninhho commented on #418
@daveshah1 Thanks for advice, I have updated the newer version of bison 2.7
However the errors still there.
[  9%] Building frontends/ilang/ilang_parser.tab.cc
frontends/ilang/ilang_parser.y:48.20-44: error: syntax error, unexpected {...}
frontends/ilang/Makefile.inc:8: recipe for target 'frontends/ilang/ilang_parser.tab.cc' failed
make: *** [frontends/ilang/ilang_parser.tab.cc] Error 1
[den-l-003

[2020-02-15 09:45] daveshah1 commented on #418
I think that Yosys needs Bison 3+ to build

[2020-02-15 09:47] ninhho commented on #418
I will give it a try, will feedback you soon. Thanks.

[2020-02-15 13:52] mwkmwkmwk commented on #1058
Since noone disagrees, closing as per above.

[2020-02-15 13:52] #1058 closed

[2020-02-15 16:23] ninhho commented on #418
@daveshah1 It looks like not completed yet. Maybe missing libffi...
[ 89%] Building techlibs/sf2/sf2_iobs.o
[100%] Building yosys
/usr/bin/ld: cannot find -lffi
collect2: error: ld returned 1 exit status
Makefile:614: recipe for target 'yosys' failed
make: *** [yosys] Error 1

Do you have any suggestion?

[2020-02-15 17:29] ninhho commented on #418
Hi @daveshah1
I have updated the libffi and bypassed above issue. However I got another below.
[ 95%] ABC: `` Compiling: /src/sat/glucose/AbcGlucoseCmd.cpp
In file included from ./src/misc/vec/vec.h:29:0,
                 from ./src/aig/gia/gia.h:34,
                 from src/sat/glucose/AbcGlucoseCmd.cpp:21:
./src/misc/util/abc_global.h:125:5: error: #error unsupported platform
    #error unsuppo

[2020-02-17 20:54] zachjs opened #1710 "Warnings generated for unevaluated ternary operands"
## Steps to reproduce the issue

Simply run Yosys on the following Verilog file:
[code]

## Expected behavior

Given that all of the conditions in this example are constant expressions, I would expect Yosys to not generate any warnings for any of the out of range accesses (`&inp[4:0]`).

## Actual behavior

Yosys does not generated any warnings for the uses in the `else` branches. However, warning

[2020-02-17 21:17] eddiehung commented on #1710
Thank for the report @zachjs! I've been following your progress on sv2v with great interest. This looks related to #1649 which I'm a bit stuck on fixing in #1651. Let me revisit it.

[2020-02-17 21:52] thasti commented on #1614
Fixed by #1679

[2020-02-17 21:52] #1614 closed

[2020-02-20 04:33] CalebKierum opened #1711 "MEMORY_BRAM pass doesn't not consider potential RAMs"
I have created the following module in my FPGA using a template provided to me.

[code]

It would be ideal for this module (and others like it) to be brams on my iCE40 TinyFPGA BX. However when I build this I get the following log

[build.log](https://github.com/YosysHQ/yosys/files/4228777/build.log)

Here is an excerpt with just the BRAM pass log

[bram.log](https://github.com/YosysHQ/yosys/files

[2020-02-20 04:42] #1711 closed

[2020-02-20 09:23] mohangadusu opened #1712 "isim "tracing limit reached" in ISE 13.2"
Hi ,

iam having problem with the simulation (ise 13.2) where i am running upto10seconds to collect the data at each second. after some period of time clock signal doesn't get updated.

how can i fix it up?

thanks in advance  @vihari1729.

[2020-02-20 09:25] #1712 closed

[2020-02-20 17:17] #248 closed

[2020-02-20 20:06] norandomtechie opened #1713 "Used module read from BLIF removed during synth_ice40"
## Steps to reproduce the issue

Given files top.v and ssdec.blif (in [top_ssdec.zip](https://github.com/YosysHQ/yosys/files/4232751/top_ssdec.zip)), we are trying to use synthesize a design using the top module from top.v, which instantiates a module ssdec from ssdec.blif.  To do this, we run the command:

`yosys -p "read_blif ssdec.blif; read_verilog top.v; synth_ice40 -top top; write_verilog st

[2020-02-22 05:43] boqwxp opened #1714 "Make fails when NDEBUG=1"
## Steps to reproduce the issue
make clean
make config-clang
# set NDEBUG=1 in Makefile with your preferred editor
make

## Expected behavior

Build success

## Actual behavior

Build fails with:

[code]

[2020-02-22 06:16] boqwxp commented on #1714
FWIW it compiles fine if you remove the #ifndef NDEBUG guards just above those lines.

[2020-02-22 19:29] #1714 closed

[2020-02-23 02:04] boqwxp opened #1717 "Add more precise Verilog source file location information to AST and RTLIL nodes"
See `frontends/ast/ast.h`, in definition of `struct AstNode`:
[code]

In other words, only the source file name and *a* line number are available, but no other information.

## Desired behavior

AST and RTLIL nodes should ideally have precise location information, not just a line number.

In `ast.h`, define a new:
[code]

Add a new `AstSrcLocType location;` member variable to `AstNode`.  Optionall

[2020-02-23 02:10] boqwxp commented on #1717
@eddiehung Please assign this issue to me.  I am interested in upstreaming the changes I've already made to implement this.  Unfortunately my changes are commingled with some other, unrelated changes and could use a bit of cleaning up, so it's not trivially straightforward; it might take a bit to submit a PR.

[2020-02-23 20:59] thasti opened #1719 "Appearance of `ifnone` in specify blocks crashes Verilog frontend"
While reading a verilog library with specify-blocks, yosys crashes on constructs such as the following:

[code]

The error message is the following, with the line number corresponding to the line containing `ifnone`.
[code]

It appears to me the ifnone-condition is not modeled in the verilog parser.

[2020-02-24 19:29] ZirconiumX commented on #1719
cc @eddiehung

[2020-02-24 20:04] litghost opened #1720 "Duplicate OBUF insertion (sometimes)"
## Steps to reproduce the issue

[iobuf_bug.zip](https://github.com/YosysHQ/yosys/files/4246613/iobuf_bug.zip)

1. Unzip iobuf_bug.zip
2. Run `./run.sh`
3. Run `grep "OBUF " output.v  | wc`, outputs
[code]
4. Example the stat output from circuit:
[code]

Given that the input design only has 8 top level signals to begin with, having the final output have 12 OBUF's is pretty weird.  In this design,

[2020-02-25 03:39] boqwxp commented on #1693
@mwkmwkmwk I think this should be closed.

[2020-02-25 08:51] mwkmwkmwk commented on #1693
Nope — @whitequark documented the corresponding fields in the RTLIL structures, but the JSON fields are still undocumented (and the documentation is out of date in several other ways), so this is still on my TODO list.

[2020-02-25 10:20] mwkmwkmwk commented on #1720
From what I see in the testcase, `iopadmap` correctly inserts a buffer on the `led[0]` wire, which does not yet have a buffer. The `OBUF_7` instance, on the other hand, is an output buffer connected to a wire that is not a top-level port, and thus invalid.

[2020-02-25 15:17] litghost commented on #1720
If you believe that `iopadmap` is behaving correctly, then the current specification of `iopadmap` is unsuitable for general use.  In the provided example, the wires `led[0]`, `inter_wire_2` and `inter_wire` are all the same net, and clearly drive a top level port.

Do you believe the overall script `synth_xilinx` script behaved correctly in this case by delivering an output netlist that has more

[2020-02-25 18:01] mwkmwkmwk commented on #1720
The crux of the issue here is what counts as a "direct connection to a top-level port".  The Verilog standard of course doesn't say anything OBUFs, but `assign`ed nets are in general *not* considered to be a single net (rather, an `assign` is basically a buffer).  In particular, IEEE 1364.1 explicitely says that tristate (Z) values do not survive `assign`s, which is perhaps the closest thing to th

[2020-02-27 17:07] daveshah1 opened #1723 "abc9 assertion failure: src/misc/tim/timMan.c:435: void Tim_ManCreate(Tim_Man_t *, void *, Vec_Flt_t *, Vec_Flt_t *): Assertion `pIfBox != NULL'"
Unfortunately this is a very large design, but as it's a assertion hopefully it's not too hard to track down (despite being a noflatten flow, building the problem module by itself doesn't seem to cause the error).

Run top.ys in the attached archive to reproduce:
[abc9assert.zip](https://github.com/YosysHQ/yosys/files/4262911/abc9assert.zip)

Output:
[code]

The ABC output folder is
[yosys-abc-VqV

[2020-02-27 17:20] eddiehung commented on #1719
Currently, `ifnone` is not a supported construct. A temporary workaround would be to rewrite as:
[code]
I'll have a think about and discuss a more permanent solution.

[2020-02-27 19:34] eddiehung commented on #1723
I've just tried it with #1724 and it seems to complete:

[code]

The error message looks like it could be a malformed box or something. It also looks like you're using a fair few `*E2` primitives which didn't and still won't have all the same box/delay information as for the `*E1` blocks. I'll take a deeper look next week.

[2020-02-27 19:42] eddiehung commented on #1723
At a deeper first glance, it looks like Yosys is inserting some "delay" boxes to enforce required times. For some reason, these boxes are not being written out into the `*.box` file, perhaps only when there are multiple derived variants of the failing module.
The whole `*.box` generation code is rewritten in #1724 so perhaps it is done properly there.

[2020-02-28 00:48] eddiehung commented on #1713
The BLIF is a bit-blasted format, and has no concept of busses. Thus `write_blif` will write out each bit in a bus as its own port (after uncommenting out the contents of `ssdec.v`):
[code]

And when read in again via `./yosys -p "read_blif ssdec.blif; write_verilog"` you get:
[code]

And when you instantiate a cell using positional arguments in `top.v` here:
[code]
you are actually binding them t

[2020-02-28 00:48] #1713 closed

[2020-02-28 18:39] #1710 closed

[2020-02-29 10:06] nakengelhardt commented on #1675
The assertion is commented out for now in abc: https://github.com/berkeley-abc/abc/commit/53f223806f1c570b62a180e0eb3aed3a974c1677

[2020-03-01 23:54] boqwxp opened #1728 "Use a proper interface for Verilog source location information"
Follow up to #1718 .

[2020-03-02 20:40] #1720 closed

[2020-03-02 21:10] eddiehung commented on #1723
I've merged #1724 into master and can not reproduce this on 968956bad; please confirm and close if same conclusion.

[2020-03-03 12:59] #1269 closed

[2020-03-03 16:34] #1663 closed

[2020-03-03 16:38] #1717 closed

[2020-03-04 08:37] tmichalak opened #1733 "EDIF backend produces a file with multi-driven net."
## Steps to reproduce the issue

I have a SoC design with a VexRiscv core that when synthesized with the latest Yosys (``Yosys 0.9+1706 (git sha1 0ec97144, clang 8.0.0 -fPIC -Os``) fails in Vivado during EDIF parsing:
[code]

I attached a test case:
[zephyr_broken_edif.zip](https://github.com/YosysHQ/yosys/files/4291600/zephyr_broken_edif.zip)
Simply run with ``make yosys``

I ran a `git bisect` o

[2020-03-04 16:12] mwkmwkmwk commented on #1733
Your test case is broken:
`ERROR: Can't open input file `/home/tmichalak/Development/U-Ray/prjuray2/minitests/litex/zephyr/zcu104/src/top.v' for reading: No such file or directory`

[2020-03-04 16:40] joseluisquiroga opened #1734 "Seems like non used modules in yosys screw up place and routing in nextpnr."
I have created an small project to show the error.

https://github.com/messaging-cells/bug_synth_01

The expected behavior is to make OK when NS_SHOW_ERROR in
https://github.com/messaging-cells/bug_synth_01/blob/master/rtl/test_bug_top.v
is set to 1.

To reproduce:
- clone the project.
- set NS_SHOW_ERROR to 1 in test_bug_top.v
- make

[2020-03-04 16:48] daveshah1 commented on #1734
You aren't specifying a top module, and so an unused module is picked arbitrarily (if all modules are used then this will end up being the correct top module). Add `-top test_9_top` to `synth_ice40`.

[2020-03-04 16:48] #1734 closed

[2020-03-04 18:45] #1723 closed

[2020-03-04 23:14] mwkmwkmwk commented on #1733
Reduced the test case to the following:

[code]

Run with `yosys -p 'synth_xilinx -noiopad' t.v -o t.edif` .  The problem is *not* with multiple-driven nets; rather, it's about multiple nets connected to a single primitive output pin.  Specifically, the problem occurs when there are two nets that both have a `keep` attribute and are aliased to one another (`a` and `b` in the above example) — the E

[2020-03-04 23:20] eddiehung opened #1736 "valgrind issue for `read_verilog -specify` on blackboxes"
## Steps to reproduce the issue

[code]

## Expected behavior

No valgrind errors.

## Actual behavior

[code]

It appears that during AST processing, blackbox modules will have everything inside it -- except for ports, parameters, and specify cells -- deleted: https://github.com/YosysHQ/yosys/blob/6eb528277e73a978ace7d6f693215d9ff92f898d/frontends/ast/ast.cc#L1055-L1088
Any `AST_IDENTIFIER`-s use

[2020-03-04 23:31] eddiehung commented on #1736
Found when debugging an inconsistent CI failure: https://travis-ci.org/YosysHQ/yosys/builds/658368799?utm_medium=notification&utm_source=github_status that was caused by the accidental use of an implicit signal that was fixed here: https://github.com/YosysHQ/yosys/commit/0930c00f038453685bf4d8f5366db7fe71f54cf8#diff-c8f274104b91615dd258e9b2c4e7c8c0L974-L1006

[2020-03-05 08:07] tmichalak commented on #1733
@mwkmwkmwk just in case I updated the original test case
[zephyr_broken_edif.zip](https://github.com/YosysHQ/yosys/files/4291665/zephyr_broken_edif.zip)

[2020-03-05 12:48] tmichalak opened #1737 "Broken OBUFT inference in submodules"
## Steps to reproduce the issue

Testcase: [obuft_inference_bug.zip](https://github.com/YosysHQ/yosys/files/4292965/obuft_inference_bug.zip)
`make top.edif` to generate the invalid EDIF.

## Expected behavior

The final EDIF should contain OBUFT primitives instead of _TBUF_.

## Actual behavior

When there is `assign IO_UTX = (cio_uart_tx_en_d2p ? cio_uart_tx_d2p : 1'bz);` in the top module the `O

[2020-03-05 15:54] donnie-j opened #1738 "Regression: synth for ice40 up5k fails reading internal cells"
Seems to not matter what the design contains, caveat the loaded netlist is from the GHDL front end, however it synthesizes correctly without -device u -dsp.  Recent regression, less than one week.

[code]

[2020-03-05 16:13] eddiehung commented on #1738
Sorry about that. Added some tests so this shouldn't break in the future.

[2020-03-05 17:41] #1738 closed

[2020-03-05 23:22] boqwxp opened #1740 "Better document exists-forall problem support"
General
====
I don't see much in the documentation aside from:

Some of these have somewhat decent descriptions at https://symbiyosys.readthedocs.io/en/latest/verilog.html#unconstrained-variables .

Questions to Clarify
====
Looking over commit b13e6bd375dc19fc2d6a3e67cdc6c045da732200, I'm not super clear on what exactly are `ex_state_eq` and `ex_input_eq` and their role in the problem formulation

[2020-03-06 18:55] eddiehung commented on #1675
Thanks @nakengelhardt! I think that change is safe to use despite its commit message being:

I've opened PR #1744 to bump `ABCREV`. Please report back whether it fixes it for you too!

[2020-03-06 19:28] mwkmwkmwk commented on #1733
Trying my reduced example in ISE (after fixing up the attributes) to get some idea what to do:

[code]

So it seems that the correct solution to multiple aliased signals with the keep attribute could be "don't do that".

[2020-03-07 11:13] zeldin opened #1745 "Yosys gives bogus error message on ternary operator with missing ? token"
Parsing this trivial Verilog module
[code]
yosys gives the error
[code]
If a space is inserted before the `?`, then the parse is successful.

Reproducable in current git master.

[2020-03-07 15:48] mwkmwkmwk commented on #1745
This is not a bug — `?` is a valid binary digit in Verilog in some contexts, and it's supposed to be parsed as part of the same lexeme.  At most, this is a misleading error message.

The `?` digit can be used eg. in cases:

[code]

[2020-03-07 16:37] ZirconiumX commented on #1745
In those circumstances I think `?` is interpreted as `z`, so `1'b0?` is `1'b0z`, which is a) longer than you specified, and b) probably an unintended bug.

So I'd agree that Yosys is correct to reject this code, but the warning could be improved.

[2020-03-07 16:51] zeldin commented on #1745
@mwkmwkmwk I don't think this is one of those contexts, and if I do put a `z` or `x` there I do not get the error.

[2020-03-07 17:04] mwkmwkmwk commented on #1745
This doesn't matter — lexemes are the same everywhere, so the `?` has to be parsed as part of the constant.  Also, you do get the same error for `x` and `z`:

[code]

fails with the same error.

[2020-03-07 17:52] zeldin commented on #1745
Fascinating.  So if you remove the `?` between `1'b0x` and `1'b1`, then yosys finds a "digit larger than 1" which it did not find when there is a `?` there.  Is it actually the (second) `b` that it complains about?  But then must scan _past_ whitespace, so then how does having a space before the `?` help in the original example?  Something very odd is going on here.

[2020-03-07 17:59] ZirconiumX commented on #1745
I don't know the Verilog grammar, but I would imagine here it's interpreted
as `<value> <whitespace>+ ? <whitespace>+ <value> <whitespace>+ :
<whitespace>+ <value>`

Without at least one whitespace character, it would be parsed as part of
the value, and since `?` is a valid character in values, you get an error
that the constant is too big while parsing the value. This would also be
why 1'0x encou

[2020-03-08 13:15] zeldin commented on #1745
Well, using `1'0x` in itself does _not_ cause the error (which by the way says that the digit is too large, not that there are too many of them), as mwkmwkmwk noted you need to also make a syntax error to get the error.  Consider the following table:

Expression | Result
--- | ---
`a == 1'b0 ? 1'b1 : 1'b0` | ok
`a == 1'b0xxx ? 1'b1 : 1'b0` | ok
`a == 1'b0?xx ? 1'b1 : 1'b0` | ok
`a == 1'b0? 1'b1 :

[2020-03-09 06:37] tmichalak opened #1748 "Xilinx's RAMB36 inference"
## Steps to reproduce the issue

[minitest_bram_36.zip](https://github.com/YosysHQ/yosys/files/4298887/minitest_bram_36.zip)

Run `make bram.edif` to call yosys
Run `make bram_vivado.bit` to call vivado

## Expected behavior

Yosys should infere a RAMB36 TDP as Vivado does.

## Actual behavior

Yosys fails to infer the BRAM
[code]

[2020-03-09 07:23] zeldin commented on #1745
I did some poking around in the code and saw that with the original expression of `a == 1'b0? 1'b1 : 1'b0`, what gets passed to `my_strtobin` (which generates the error) is `"0?1'b1"`.  So it is actually, as I surmised earlier, the (second) `b` that is considered "larger than 1".  But why has the whitespace been removed?  And why isn't it removed when the input is `a == 1'b0 ? 1'b1 : 1'b0`?  This

[2020-03-09 10:36] boqwxp opened #1750 "Add generic `add -cell` interface"
## Steps to reproduce the issue
Run `help add`.  Notice that there is no general way to add an arbitrary cell.  #1749 proposes to fix this for `$assert` cells specifically.

## Expected behavior

Should have some general commands for adding cells.

## Actual behavior

Currently no way to add arbitrary cells, including `$assert` cells.

[2020-03-09 12:41] DiegoRosales opened #1752 "Parameter with data type of 'logic' gives syntax errors."
## Steps to reproduce the issue

Copy the following code to a new file (For example "example.sv")
[code]

Inside yosys, run
[code]

## Expected behavior

The file is loaded without errors

## Actual behavior

After the loading the file, the following error appears and yosys exits

[code]

## Comments

1) Removing the logic data type to the parameter "MAXCOUNT" fixes the issue
2) The Vivado compile

[2020-03-09 19:47] mwkmwkmwk commented on #1748
Known issue, yosys only supports SDP memories.  Fixing this will likely require a full redesign of the `memory_bram` pass and won't happen any time soon (see the discussion at #1134)

[2020-03-10 16:46] eddiehung commented on #1745
Okay, there's lots of funny business here.

https://github.com/YosysHQ/yosys/blob/f2550d45ff53c5d430d3be172e6266240db22e6d/frontends/verilog/verilog_lexer.l#L276-L279
specifies the tokenisation rule for constant values. In this case, `1'b0?` is treated as a 2-bit wide constant, as opposed to a 1-bit wide constant followed by the ternary operator.

Then, the following grammar rule: https://github.c

[2020-03-10 17:27] zeldin commented on #1745
Ok.  So are constants _allowed_ to be broken up by comments?  In that case I guess the parser will need some way to differentiate between comments replaced by whitespace and actual spaces.  But it seems like a rather odd thing to allow.

[2020-03-10 17:30] zeldin commented on #1745
And anyway it seems weird to concatenate two TOK_CONSTVAL together since they _each_ need to contain a `'`, so the result will always be bogus.  Can someone please present an example of code that this is supposed to work with?

[2020-03-10 17:32] eddiehung commented on #1745
See https://github.com/YosysHQ/yosys/commit/ee8ad72fd950e1ee204e5c97155a50b8b1445dec for a testcase, which uses an unsized constant and which doesn't need a `'`.

[2020-03-10 17:34] zeldin commented on #1745
The commit message says "a constant with comment between size and value", but neither `4/*foo*/'b0000` or `4'/*foo*/b0000` would match this rule since only one half contains a `'` and so the other won't match TOK_CONSTVAL...

[2020-03-10 17:36] zeldin commented on #1745
Sorry, I don't see it.  Which are the two TOK_CONSTVAL that would get pasted together in that testcase?

[2020-03-10 17:36] eddiehung commented on #1745
If you were to look beyond the commit message, you would see that commit contains a rather unique testcase which I shall explicitly link here: https://github.com/YosysHQ/yosys/blob/ee8ad72fd950e1ee204e5c97155a50b8b1445dec/tests/simple/macros.v#L239-L244

[2020-03-10 17:38] zeldin commented on #1745
Yes, I saw the testcase, but I don't see the two TOK_CONSTVALs that get pasted together.  In fact the code does not seem to contain any TOK_CONSTVALs at all.  Also that commit deals with TOK_CONST, not TOK_CONSTVAL...

[2020-03-10 17:43] zeldin commented on #1745
Well, ok, \`SIZE'ha will match TOK_CONSTVAL after macro expansion, but there is no other TOK_CONSTVAL next to it to be concatenated with.

[2020-03-10 17:43] eddiehung commented on #1745
Unsized constants are also a `TOK_CONSTVAL`: https://github.com/YosysHQ/yosys/blob/f2550d45ff53c5d430d3be172e6266240db22e6d/frontends/verilog/verilog_lexer.l#L271-L274

Thus you `4` is a `TOK_CONSTVAL`, and `'ha` is the second TOK_CONSTVAL, two tokens because it is interrupted by that comment.

That commit is the one before another commit https://github.com/YosysHQ/yosys/commit/ef4a28e112be10d3d62

[2020-03-10 17:49] zeldin commented on #1745
Ah.  That explains it.  But then the information that it's two TOK_CONSTVAL is too little information to determine if contcatenating them yields something valid.

The best solution here would probably be _not_ to treat the whole constant as a single lexeme, but rather have separate tokens for the parts which can be separated by whitespace / comments.  Then the grammar can make sure no parts are du

[2020-03-10 20:50] eddiehung commented on #1745
Interestingly, Vivado also errors out on:
[code]
with `ERROR: [Synth 8-2715] syntax error near 1`, but works when there's a space before the `?`:
[code]

[2020-03-10 21:19] zeldin commented on #1745
Yeah, Quartus as well (even though I could have sworn I saw it work there).  That's probably fine, with `?` being considered a valid digit.  The error message "syntax error" is, while not super informative, at least not misleading like the yosys message.

The problem with yosys is that the rule to handle comments in constants is overreaching (which leads to the weird error message in this case, an

[2020-03-11 13:31] #1675 closed

[2020-03-11 15:04] eddiehung opened #1758 "opt_expr mismatch in behaviour between $or and $_OR_ for 1'bx"
## Steps to reproduce the issue

On dd8ebf787
[code]

## Expected behavior

Two results to be the same.

## Actual behavior

[code]

[2020-03-11 15:05] eddiehung commented on #1758
Found while working on `opt_expr`, but unclear which is "correct"?

[2020-03-11 18:20] joseluisquiroga opened #1760 "It seems that the command "synth_ice40" is NOT idempotent."
## Steps to reproduce the issue

I have created an small project to reproduce:
https://github.com/messaging-cells/bug_synth_candidate_02

To reproduce you will need an ice40 based card that has at least one led.

This code is for the Go Board: https://www.nandland.com/goboard/introduction.html

If you do not have a Go Board change the file "GO_BOARD.pcf" with the specs for the led in your board. A

[2020-03-11 21:32] boqwxp opened #1762 "No warning or error message when `add` command operates on bogus selection"
## Steps to reproduce the issue

[code]

## Expected behavior

The `add` command *should* either warn or generate an error about one or more of the following:
1) 'opksadl' and 'sda90sd' are not valid object names
2) attempting to add something to an empty selection
3) command was `-wire` but ultimately no wires were added

## Actual behavior

No such warnings or errors are generated.  Instead, not

[2020-03-12 00:53] ZirconiumX commented on #1760
There's a bug here, but it's not a lack of idempotence: fundamentally, Yosys is structured as a series of passes on an internal intermediate representation, so running a synthesis script twice may cause new optimisations to occur and for the internal netlist to change. It's possible to use the `design` command to save and restore a copy of the original netlist, but this incurs memory overhead that

[2020-03-12 01:44] ZirconiumX commented on #1760
...While trying to diagnose this error I wrote a testbench, and Icarus Verilog helpfully pointed out to me that you are assigning to an input port.

https://github.com/messaging-cells/bug_synth_candidate_02/blob/22432b4f66ddbfd99c9bc53e0d3d181a5b0653af/rtl/pakout.v#L22

https://github.com/messaging-cells/bug_synth_candidate_02/blob/22432b4f66ddbfd99c9bc53e0d3d181a5b0653af/rtl/pakout.v#L101

I susp

[2020-03-12 13:22] joseluisquiroga commented on #1760
While trying to reduce the code to its minimal expretion I accidentally used a new port as input and it was output. Sorry about that.
But after changing the port to output the behavior persists.

[2020-03-12 15:02] mmicko commented on #420
Closing this since msys2 can successfully compile abc in 32bit and 64 configuration without problem

[2020-03-12 15:02] #420 closed

[2020-03-12 15:30] mmicko commented on #478
closed with #1057

[2020-03-12 15:30] #478 closed

[2020-03-13 09:32] boqwxp commented on #1740
@cliffordwolf Could you take a look at this when you get a chance?  I have some other plans for exists-forall stuff and it would be great to nail this down.

[2020-03-13 18:33] daveshah1 commented on #1760
Although there is a bug here that needs investigation, so thanks for reporting, the correct syntax to use for this case is

    synth_ice40 -top test_top -blif ../$::env(BUILD_DIR)/b_fifo.blif -json ../$::env(BUILD_DIR)/b_fifo.json;

there is no problem combining `-blif` and `-json` without the need to waste time going through a synthesis script twice.

[2020-03-14 17:48] boqwxp opened #1772 "Deprecate and then remove support for gcc-4.8"
GCC 4.8 is a [very old](https://gcc.gnu.org/releases.html) compiler not used by [Ubuntu 16.04 LTS](https://packages.ubuntu.com/xenial/gcc) or [Debian 8](https://packages.debian.org/jessie/gcc).  [CentOS/RHEL 7](https://access.redhat.com/solutions/19458) seems to be the only currently-in-use distro that has gcc-4.8 as its default compiler.

However, there is an officially-recommended and supported

[2020-03-15 17:27] daveshah1 commented on #1697
Should be fixed by #1744

[2020-03-15 17:27] #1697 closed

[2020-03-17 10:59] #1745 closed

[2020-03-18 19:53] mwkmwkmwk opened #1781 "fsm_extract broken when control outputs are connected directly to submodule inputs"
## Steps to reproduce the issue

[code]

Run with `proc; fsm; dump`

## Expected behavior

The `sub_i` instance input is connected to some logic implementing the state machine

## Actual behavior

The `sub_i` instance input is unconnected

[2020-03-19 17:51] #1781 closed

[2020-03-20 20:06] Ravenslofty opened #1792 "ABC9 performs worse than ABC for iCE40"
This has been an issue I've discussed with @eddiehung for a while, but I want to file it publicly so people can submit testcases for us to work through.

Essentially, the problem is that ABC9 - which *does* perform much better for ECP5 - performs notably worse for iCE40, producing larger solutions with lower maximum frequency.

What would be nice would be if people could submit testbenches, along

[2020-03-20 20:09] daveshah1 commented on #1792
From previous experience, performance on iCE40 was somewhat sensitive to "wire delay". It is quite possible that this could be fuzzed to find a value that improves QoR.

[2020-03-20 20:29] Kmanfi opened #1793 "rmports doesn't remove unused module output."
## Steps to reproduce the issue
    module TOP(a, b, y);
      input [3:0] a, b;
      output [2:0] y;
      reg [2:0] tmp;
      wire NC;
      sub p(a, b, {NC, tmp});
      assign y = tmp;
    endmodule

    module sub(as, bs, ys);
      input [3:0] as, bs;
      output [3:0] ys;
      assign ys = as & bs;
    endmodule

[code]
## Expected behavior
module sub should have 3bit wide output ys inst

[2020-03-20 22:35] eddiehung commented on #1792
Thanks for keeping at this @ZirconiumX. Can we post the testcase we were investigating together? I have some commentary I'd like to share about that particular case.

[2020-03-21 11:04] ZirconiumX commented on #1792
Sure, it's only picorv32_large.v. Nothing secret about it.

On Fri, 20 Mar 2020, 22:35 Eddie Hung, <notifications@github.com> wrote:

[2020-03-21 11:33] ZirconiumX commented on #1792
For the record I should mention that I have [a statistical comparison tester](https://github.com/ZirconiumX/yosys-testrunner) for this, but I feel it needs a bunch of improvement...

[2020-03-21 15:58] Ravenslofty opened #1798 "Yosys crashes while evaluating the Ackermann function"
While writing a [code golf stack exchange entry](https://codegolf.stackexchange.com/a/201472/62493), I found this amusing bug.

## Steps to reproduce the issue

With the following Verilog testbench as `ackermann.v`:

[code]

run `yosys ackermann.v`.

## Expected behavior

Either Yosys evaluates the constant - 8189 - correctly, or else fails gracefully while evaluating it.

## Actual behavior

[cod

[2020-03-21 16:00] whitequark commented on #1798
Is that an infinite loop or just recursion that's too deep?

[2020-03-21 16:03] ZirconiumX commented on #1798
I'd say infinite loop, because of the repeating
[code]
in the stack trace.

[2020-03-21 16:04] mwkmwkmwk commented on #1798
My guess is that yosys is trying to determine whether `a()` is a "constexpr" (to borrow C++ terminology) function, and to do that, it recursively calls a check for whether `a()` is a "constexpr" function — it's not even doing the actual evaluation yet.

[2020-03-21 17:07] rodrigomelo9 opened #1799 ""Memory with non-constant width or size!" message, when a function which returns a constant value is used"
I was [comparing Yosys against ISE and Vivado](https://github.com/rodrigomelo9/yosys-versus), using examples provided by Xilinx. After discarding some files with errors (a `.v` which is in fact a `.zip`, another one which is VHDL package with stranger things, etc), I found a few problems. Here one of them.

## Steps to reproduce the issue

The conflicted file:

[code]

The Yosys command to reprodu

[2020-03-21 17:22] rodrigomelo9 opened #1800 "Problems with a module instantiation coding style supported by ISE and Vivado"
I was [comparing Yosys against ISE and Vivado](https://github.com/rodrigomelo9/yosys-versus), using examples provided by Xilinx. I found a few problems. Here one of them.

## Steps to reproduce the issue

The conflicted file:

[code]

The Yosys command to reproduce the problem and the message:

[code]

It complains about `myreg #8 inst_reg (clk, clken, di, do);`, but it is supported by ISE and Viv

[2020-03-21 17:28] daveshah1 commented on #1800
See #902, I believe this is non-standard

[2020-03-21 17:28] #1800 closed

[2020-03-21 17:42] rodrigomelo9 opened #1801 "A thought about $finish and $display outside an initial block"
I know what the repo README says about these two functions:

But I was [comparing Yosys against ISE and Vivado](https://github.com/rodrigomelo9/yosys-versus), using examples provided by Xilinx, and I have a thought to share.

## Example

[code]

What Yosys says:
[code]

It is the same that happens when `$finish` is inside an initial block within a conditional. Maybe the message could be changed an

[2020-03-21 17:46] rodrigomelo9 commented on #1800
Ok, thank. I believe the same, but I was not sure and both, ISE and Vivado support that (I know, they support a lot of non-standard things). Regards.

[2020-03-21 17:47] daveshah1 commented on #1800
Oh no worries, please keep your comparisons coming, they are very useful! I just didn't want someone else spending time on this one when I'd looked into it previously.

[2020-03-21 17:56] rodrigomelo9 commented on #1800
Yes, no problem, I will continue. I am new with Yosys (I starting using on last December) but I am very interested in the project, and I use mainly Xilinx (but I have some experience with, and boards from, Intel, Microsemi and Lattice too). Comparing the examples only for synthesis, I found only three issues (there are more problems in Vivado and ISE :P). I will also check the implementation of Yo

[2020-03-21 21:57] rodrigomelo9 opened #1802 "A problem with a case of memory inference"
I was [comparing Yosys against ISE and Vivado](https://github.com/rodrigomelo9/yosys-versus), using examples provided by Xilinx. There a lot of memory inference examples which works with Yosys, but one of them present a problem. I attached a zip with two examples:
[asym_ram_tdp.zip](https://github.com/YosysHQ/yosys/files/4364233/asym_ram_tdp.zip)

* *asym_ram_tdp_read_first.v:* works and is quick

[2020-03-21 23:48] ZirconiumX commented on #1802
A few notes:
- It's worth mentioning that Yosys does not infer true-dual-port block RAM at present, thus in this case it falls back to building your 4 kilobyte memory out of flops. This would be crippling even if it did complete.
- Your `log2` function should be replaced with the `$clog2` task so Yosys doesn't have to interpret it.

I did some poor person's profiling and found that in this case Yo

[2020-03-21 23:57] ZirconiumX commented on #1799
You can work around this with `localparam DATADEPTH = getSize(ADDRWIDTH) - 1;` and using `[DATADEPTH:0]`. But it's odd that this isn't recognised as a constant expression.

[2020-03-22 15:34] rodrigomelo9 commented on #1799
Hi Dan, thanks, great workaround.

It is no my code, is code that I found and must be similar code over there, so I think that the idea must be to solve the problem in Yosys, because it is valid Verilog code and a constant value.

[2020-03-22 16:26] rodrigomelo9 commented on #1802
I see. I only synthesized a lot of examples, the next step is to see what happens when implemented.

I checked the implementation of `asym_ram_tdp_read_first.v` with Yosys + Vivado and it aborts with an error:
[code]

I did not know that dual-port memories were not yet supported. I use them a lot. Are there plans to be supported soon? I have no idea about how to help but let me know (I can't add s

[2020-03-22 16:29] ZirconiumX commented on #1802
*Simple* dual-port memories - where both ports use the same clock - are
supported, but not *true* dual-port memories - where each port uses
different clocks.

I'd reckon much of your code uses simple dual-port memories, so Yosys will
recognise them just fine.

On Sun, 22 Mar 2020, 16:26 Rodrigo A. Melo, <notifications@github.com>
wrote:

[2020-03-22 16:32] daveshah1 commented on #1802
The problem is not so much clocks as multiple write ports. True dual port memories with two read/write ports are not supported regardless of clocking (but if single clocked will at least become FFs). Simple dual port memories with one write port and one (or more) read ports are supported even if the clocks are different.

[2020-03-22 16:44] rodrigomelo9 commented on #1802
Dan, these are examples from Xilinx, no "my code". In my real code, I use a lot True Dual Port memories, mostly implementing FIFOs, for CDC or to collect data (in this last case, the clock sometimes is the same).

Dave:

It is great to my :-D it covers my common cases, I will check. Thanks for the data.

[2020-03-23 05:46] jmgurney opened #1804 "techmap is broken on master, works on 0.9"
## Steps to reproduce the issue

Use the following files:
[testcase.zip](https://github.com/YosysHQ/yosys/files/4367456/testcase.zip)

Run the command:
[code]

## Expected behavior

Yosys 0.9 produces the correct behavior and is able to output the foobar cell in the final output files.

This is with:
[code]

And the end of synth.v looks like:
[code]

## Actual behavior

With yosys master @ c34969d

[2020-03-23 10:17] mwkmwkmwk commented on #1804
Hi, #1806 should fix your problem — can you test it?

[2020-03-23 13:16] rodrigomelo9 opened #1807 "Problems with primitive instantiation using synth_xilinx (executing XILINX_DFFOPT)"
I was [comparing Yosys against ISE and Vivado](https://github.com/rodrigomelo9/yosys-versus), using examples provided by Xilinx. I found a problem instantiating the LUT2 primitive in 2 of 3 cases.

To check with iverilog and for the generic `synth` command, I used the following blackbox definition (`blackboxes.v`) and it works:
[code]

I have three examples from Xilinx:
* primitive_1.v
[code]
* pr

[2020-03-23 14:47] mwkmwkmwk commented on #1807
To be clear: the first case will not be supported, as mixing up parameters with attributes this way is just horrible.

Second is more interesting — the problem is that the parameter is positional and is called `$1` internally and not `\INIT`.  I suppose the proper fix here would be to make `hierarchy` fix it up...

[2020-03-23 14:49] mwkmwkmwk commented on #1807
And to be clear: this is *not* a bug in synth_xilinx or xilinx_dffopt, but a general problem with the usage of positional parameters (and probably in/out signals as well).  Even if xilinx_dffopt was skipped, we'd still emit invalid netlist with the parameter called `$1`.

[2020-03-23 15:47] rodrigomelo9 commented on #1807
Ok, is clear to me now that is related with the positional assignment of the parameter.

For further info, in the first case, ISE fails and Vivado ignores the INIT attr.
* ISE:
[code]
* Vivado:
[code]

In the second case, take into account that when `synth` is used, it does not fails (the output result is a verilog file):
[code]

(I provided `blackbox.v version` to know LUT2, as shown in the first

[2020-03-23 16:05] tilk opened #1808 "Weird JSON output for 0-bit constants"
Take this Verilog code:
[code]
The following JSON is generated from it:
[code]
See that there is nothing connected to the "i" input.

In other cases, Yosys makes sure that the input connection has the required number of bits. For example, if the `0'b1` is changed to `1'b1`, we now get:
[code]
So Yosys correctly zero-extended the one-bit constant to two bits.

I'm reporting this issue, because in m

[2020-03-23 17:07] ZirconiumX commented on #1798
I'm actually wondering if this bug is #247 from way back in the Yosys bug tracker.

[2020-03-23 17:11] rodrigomelo9 opened #1809 "Problem implementing a counter example from Xilinx using Yosys + ISE"
I was [comparing Yosys against ISE and Vivado](https://github.com/rodrigomelo9/yosys-versus), using examples provided by Xilinx. I want to remarks that from 178 examples, only 12 failed using Yosys + ISE as backend, and 11 are related with memory inferences (maybe all of them are true dual-port, I will check and comment in #1802 ). Here a counter example which failed.

[code]
It was synthesized (w

[2020-03-23 17:14] mwkmwkmwk commented on #1809
This example requires support for FFs with both asynchronous set and reset, which we currently don't have in the xilinx flow.  Adding support for older families (xc5v and before) would be pretty trivial, but for xc7 we need to emulate those with some tricky circuits, as such things are not directly supported in hardware anymore.

[2020-03-23 19:14] #1762 closed

[2020-03-23 20:06] rodrigomelo9 opened #1810 "Single-port memory inference error (Yosys + ISE)"
I was [comparing Yosys against ISE and Vivado](https://github.com/rodrigomelo9/yosys-versus), using examples provided by Xilinx. I found only this problem related to a Single-port memory inference when `synth_xilinx` with `-ise-` option is used with ISE as backend.

[code]
The Yosys command:
[code]

The ISE error message (when mapping):
[code]

[2020-03-23 20:20] rodrigomelo9 commented on #1810
There are other (very similar, but no-change instead of read-first) file with exactly the same problem.
[code]

Here a similar write-first example which works (is implemented without errors):
[code]

[2020-03-23 20:31] rodrigomelo9 commented on #1810
@mwkmwkmwk these are examples from Xilinx, let me know if I can help you, providing own made minimalistic examples. Maybe I could put them somewhere under `tests/memories`. The same offer for #1809. I can provide the Verilog files and the scripts to run automatically from the command-line.

[2020-03-23 20:38] rodrigomelo9 commented on #1802
I verified implementing with ISE as backend and other memories which has two write ports also failed (which is ok if not yet supported). Most cases, ISE complains:
[code]
But, in some cases, the messages are (lot of them):
[code]

Here an example file which produces the second (several) messages:
[code]

[2020-03-23 22:32] jmgurney opened #1813 "If ENABLE_PYOSYS is set, ENABLE_LIBYOSYS isn't set."
## Steps to reproduce the issue

First, discover the undocumented python interface that is pyosys.  Edit the Makefile to enable pyosys by changing the ENABLE_PYOSYS line to 1, make, discover that you need to clean, because WITH_PYTHON wasn't defined earlier, and changing ENABLE_PYOSYS doesn't rebuild those files, then install and discover that libyosys.so isn't built, and things fail.

This is wit

[2020-03-23 23:35] eddiehung commented on #1792
@ZirconiumX and I looked at this a while back. What I found was that from Yosys' (and ABC9's) point of view, the critical-path delay (logic only, assuming net delays are zero) of the circuit (as computed by #1732) were the same:

Done with 3e46faa58:
<details>
  <summary><code>synth_ice40 -top top_large</code> on picorv32's <a href="https://github.com/cliffordwolf/picorv32/blob/e308982e18fc952a8d4

[2020-03-24 01:46] rodrigomelo9 commented on #1688
The same (ignored) in case of ISE. I recently submitted a similar issue (#1801, I didn't saw this issue before, sorry).

I think that the ERROR is ok, to abort if a condition is not accomplished, but the message mustn't be unsupported, because the behaviour is the same that inside of an initial block (nested under a if).

[2020-03-24 01:48] rodrigomelo9 commented on #1801
It is very similar to #1688, and I put info and my opinion there.

[2020-03-24 01:48] #1801 closed

[2020-03-24 09:11] ZirconiumX commented on #1792
I think if we had a way of `diff`ing two designs, that might be a helpful tool to have.

[2020-03-26 14:00] joseluisquiroga opened #1817 "Removing a verilog comment changes behaviour."
## Steps to reproduce the issue

I have created an small project to reproduce:
https://github.com/messaging-cells/bug_synth_03

All info to reproduce the bug in the README file.

File with the comment to be removed in order to reproduce bug:
https://github.com/messaging-cells/bug_synth_03/blob/master/rtl/io_bug_03.v

## Expected behavior

For both cases to have the same behaviour.

[2020-03-26 18:03] #1804 closed

[2020-03-26 18:12] mwkmwkmwk opened #1819 "ilang: add support for parameter position information and default parameter values (for blackboxes)"

[2020-03-26 18:13] mwkmwkmwk opened #1820 "verilog frontend: remember blackbox parameter positions and default values"
Depends on #1819

[2020-03-26 18:14] mwkmwkmwk opened #1821 "hierarchy: convert positional blackbox parameters to named parameters"
Depends on #1819

[2020-03-26 18:14] mwkmwkmwk opened #1822 "getParam: if a blackbox instantiation parameter is not set, use the default value"
Depends on #1819.

[2020-03-26 18:15] mwkmwkmwk opened #1823 "write_json: Dump default parameter values"
Depends on #1819. The idea is to make them available to nextpnr and avoid duplicating this information.

[2020-03-26 18:26] dh73 commented on #1817
Hi @joseluisquiroga ,

Have you tried simulating first your design before synthesize it?.

By looking quickly at your repo, I do see some fundamental (and syntactical errors) such as this one:
Port definitions in [line 35](https://github.com/messaging-cells/bug_synth_03/blob/2425e604212b5368010ad5cf7b9fe5674600b76b/rtl/io_bug_03.v#L35) of the file you mention, [expands into a wrong port definiton]

[2020-03-26 18:55] mwkmwkmwk opened #1824 "simcells.v: Generate the `$_DFF*` cells from python script"
This will enable easy expansion to future large number of FF cell types.

[2020-03-26 18:58] mwkmwkmwk opened #1825 "Add support for variable cell instance name and type via attribute"
General idea:

[code]

would be converted (by the verilog frontend) to:

[code]

Likewise,

[code]

would be converted to:

[code]

[2020-03-26 19:01] mwkmwkmwk opened #1826 "techmap: Add support for matching cell types matching a pattern"
eg.

[code]

should be equivalent to:

[code]

[2020-03-26 22:37] dh73 commented on #1808
For the sake of clarity, as per LRM, the zero width prefix is ignored and might be extended to a constant of 32 bits instead, thus converting the `0'b1` to a `32'b 0000_0000_0000_0000_0000_0000_0000_0001`.  In this case, the design gets synthesized into a `VCC` driving `o` output.

However and AFAIK, this is tool implementation dependant. Some of them decide to be very strict in this checks, and j

[2020-03-27 10:40] minecraft2048 commented on #1101
I have this code:
[code]
Here is Yosys master output with signal 2 always block commented out:
2.52. Printing statistics.
[code]

Here is the output with full code:
[code]

I'm expecting the 2 signals to share the same DP16KD cell, especially since both of them are read only

Here is the output of MEMORY_BRAM pass:
[code]
It knows there are 2 read ports but for some reason it fails to map it so it

[2020-03-27 16:16] cliffordwolf commented on #1808
So in yosys internally a zero-bit vector is used for port instantiations like `.i()`, where the port is left unconnected. So this is why nothing is getting extended.

According to the IEEE Std 1800-2012 LRM a zero size is actually illegal (note that `size` is just a `non_zero_unsigned_number`:

![image](https://user-images.githubusercontent.com/619764/77776490-61df3700-704e-11ea-9820-1327ba6c7128.

[2020-03-27 22:14] joseluisquiroga commented on #1817
It is not my intention to degrade the hard and difficult work that the people working in this project are doing. The bug is just a fact.

It seems to me that the rules in

https://github.com/YosysHQ/yosys/blob/1bf2bdf05bd78a08f932780d99144b2d56e2943f/frontends/verilog/verilog_parser.y#L387

https://github.com/YosysHQ/yosys/blob/1bf2bdf05bd78a08f932780d99144b2d56e2943f/frontends/verilog/verilog_par

[2020-03-28 02:42] boqwxp commented on #1817
Can you post the `write_ilang` output for both versions?  And is there any way you can reduce the test case to something that doesn't require the physical board and manual verification?

[2020-03-28 06:59] xobs opened #1834 "mingw2 build failure: SIGTERM was not declared in this scope"
As of cbc5664d370230803ac25705485ef1c6ed5f8416 yosys no longer compiles under Windows.  It looks like it's defining WTERMSIG(x) to be SIGTERM, but never actually includes any files that define SIGTERM:

[code]

Reverting that commit results in a successful build.

[2020-03-28 08:10] mmicko commented on #1834
Fixed with https://github.com/YosysHQ/yosys/commit/5cdcd6ec7949c856de39d032f68ba8ddd0ee9fb3

[2020-03-28 08:26] xobs commented on #1834
Still broken, since SIGTERM isn't defined:

[code]

[2020-03-28 08:37] mmicko commented on #1834
Have checked this on msys2 on real Windows, let me check cross compile then

[2020-03-28 08:50] mmicko commented on #1834
Works for me fine on both msys2 and cross compile mingw environment. But please try with latest added explicit include of csignal

[2020-03-28 09:10] xobs commented on #1834
I'm building on ubuntu-bionic using travis-ci.  The compiler I'm using is provided by their `mingw-w64-x86-64-dev` packages.

I can confirm that the latest change -- including csignal -- fixes things.

[2020-03-28 09:10] #1834 closed

[2020-03-28 09:11] mmicko commented on #1834
Thanks raising issue and for checking

[2020-03-28 11:29] minecraft2048 opened #1836 "Cannot infer dual port read only BRAM on ECP5"
## Steps to reproduce the issue

Run yosys `synth_ecp5` on this code:

[code]

## Expected behavior

First and second signal shares the same block ram as DP16KD is dual port ram and both of them are read only, so the total DP16KD usage is 1

## Actual behavior

With the third always block (signal 2) commented out:

[code]

With the full code:

[code]

There are 2 DP16KD blocks, so for some reason

[2020-03-28 19:25] Afromaniac opened #1837 "File order dependent segmentation fault when parsing parameterized SV interfaces"
## Steps to reproduce the issue
I've provided a minimal working example in [minpass.zip](https://github.com/YosysHQ/yosys/files/4397697/minpass.zip) and a similar failing example in [minfail.zip](https://github.com/YosysHQ/yosys/files/4397696/minfail.zip).

Tried on newest commit 1dbc7017
Simply running `yosys if2.sv if1.sv main.sv` causes a segmentation fault with a warning: `Warning: Deep recurs

[2020-03-28 23:38] joseluisquiroga commented on #1817
Thank you both for caring. Sorry to respond this late. I try not too look at any screens from Friday 6pm to Saturday 6pm.

I updated the builds in the project to have the ilang files (nice option).
https://github.com/messaging-cells/bug_synth_03/blob/master/MY_BUILD_WITH_THE_COMMENT/bug_03.ilang
https://github.com/messaging-cells/bug_synth_03/blob/master/MY_BUILD_WITHOUT_THE_COMMENT/bug_03.ilang

[2020-03-29 00:26] dh73 commented on #1817
I apologize for not be able to explain myself at the beginning, please allow me to try again. What I am saying is more on the sense of what Alberto is saying. I looked at the source code once, very quick, and I saw some syntax errors. Despite of them, Yosys is not reporting any, but fixing some tokens with the Verilog parser.

For instance, your problem as is, removing the comments around line 90

[2020-03-29 14:13] joseluisquiroga commented on #1817
Thanks for explaining. I will give my syntax some "icarus" to get it "healthy" and see what happens.

[2020-03-29 14:49] Afromaniac commented on #1837
Alright, I've explored a bit deeper and the crashes in the svinterface tests actually occurred in iverilog. These disappeared once I updated iverilog to a more recent version. The original problem still remains and I'm slowly picking at it.

[2020-03-29 15:26] Afromaniac commented on #1837
Some further observations
My minimal example wasn't actually minimal - main.sv is not necessary in reproducing the bug.

`yosys if1.sv if2.sv -T` and
`yosys if1.sv if2.sv -Q` do not crash. They instead error out with the following message:
`if2.sv:2: ERROR: Failed to detect width for identifier \ADDR_WIDTH!`

Running
`yosys -p "read_verilog -sv -dump_ast1 -dump_ast2 if1.sv ; read_verilog -sv -dump

[2020-03-29 20:40] Afromaniac commented on #1837
I've dug a step deeper into the codebase and I think I've found the symptomatic line. On line 623 of `frontend/ast/genrtlil.cc` the `detectSignWidthWorker` function appears to keep recursing without ever finishing. This eventually causes the sigsegv.

The cycle seems to be cause by a loop in the pointer structure. I will admit I don't quite understand the larger scope of this section of code so I

[2020-03-29 20:52] WRansohoff opened #1838 "Extremely large wires in generated RTLIL produce confusing parser errors"
## Steps to reproduce the issue

Attempt to parse the following RTLIL:

[code]

To test, save the above RTLIL as `bug.il` and run:

`yosys -q -p "read_ilang bug.il; write_verilog bug.v;"`

Observe:

`ERROR: Parser error in line 24: invalid slice`

## Expected behavior

The above RTLIL was created by a code generator. It seems unlikely that a designer would intentionally create a wire that is 4 bil

[2020-03-29 21:32] joseluisquiroga commented on #1817
This bug is a fact. The syntax is now iverilog -Wall -g2005 complaint. I have included the expanded code by iverilog (option -E) in the builds. Full code in:

https://github.com/messaging-cells/bug_synth_03

My code only fails WITH the comment and only for this particular setting of clocks for instances gt_BUG_t5 and io_BUG_t5 in file bug_03.v.

WITHOUT the comment I get the code working just as t

[2020-03-29 21:48] daveshah1 commented on #1817
Using this testbench:
[code]

Generating Verilog from JSON using `yosys -p "write_verilog -norename bug_03_syn.v" bug_03.json`

and simulating using `iverilog -o bug03 tb.v MY_BUILD_WITHOUT_THE_COMMENT/bug_03_syn.v `yosys-config --datdir`/ice40/cells_sim.v && ./bug03`

neither of the two JSON files nor the original RTL turn any of the LEDs on.

While it is remotely possible that there is a nextpnr

[2020-03-29 22:31] joseluisquiroga commented on #1817
That is the same behavior I got for WITHOUT the comment. It was for the case WITH the comment that the leds turned ON. But I followed your steps for the case WITH the comment and no leds either turned ON in the simulation.

So thanks. I learned something today.

[2020-03-30 01:05] tommythorn opened #1839 "Error gives the wrong (0) line number"
## Steps to reproduce the issue

* I ran `yosys -p "synth_ecp5 -json buglet.json"  buglet.v` where `buglet.v` had

[code]

## Expected behavior
[code]

## Actual behavior
I got
[code]

In this boiled-down example it's obvious, but when there are many for-loop it would be nice to get the actual line.

[2020-03-30 11:06] Xiretza opened #1841 "synth_xilinx: error when synthesizing inout port with constant 1'bz driver"
## Steps to reproduce the issue

Using the following verilog file:

[code]

On 1dbc70172, `yosys -p 'read_verilog inout_z.v; synth_xilinx'` fails with `ERROR: Output port mod.$iopadmap$mod.a.O (IBUF) is connected to constants: 1'z`.

## Expected behavior

The module gets synthesized as an (in)out buffer with constant low-impedance output.

## Actual behavior

Synthesis errors.

## Possibly related

[2020-03-30 20:16] daveshah1 commented on #1839
See  #1844

[2020-03-30 21:58] dh73 commented on #1817
Thank you very much @daveshah1 .

If the issue has reached a satisfactory conclusion, may I suggest closing it?. That will help to maintain things organized and/or using the case as reference in future searches.
Thanks!

[2020-03-30 21:59] #1817 closed

[2020-03-31 00:17] Ravenslofty opened #1847 "Segfault in hierarchy"
I found this while hacking on `synth_gowin`.

## Steps to reproduce the issue

Using [hierarchy-bug.tar.gz](https://github.com/YosysHQ/yosys/files/4406043/hierarchy-bug.tar.gz) run `yosys -p "hierarchy" hierarchy-bug.il`.

## Expected behavior

`hierarchy` completes successfully.

## Actual behavior

Yosys segfaults; gdb points to a possible infinite loop in the backtrace.

[code]

[2020-03-31 00:26] mwkmwkmwk commented on #1847
I'm going to take a guess that this is caused by an actual infinite loop in the hierarchy: the `VCC` cell in your ilang contains an instance of the `VCC` cell.  The fix for hierarchy would thus be detecting this case and bailing with an error.  We should have a separate fix for `hilomap` to prevent operation on whiteboxes, preventing this situation from arising in the first place...

[2020-03-31 08:01] daveshah1 commented on #1760
Am closing as this appears to be another case of #1817. Idempotency is not relevant here as you are not calling synth_ice40 on the same input, rather the second call runs on the output of the first so will create a different netlist which breaks the dubious clock domain crossing.

[2020-03-31 08:01] #1760 closed

[2020-03-31 08:03] daveshah1 commented on #1615
@mithro is this still causing problems for you? I think there have been some fixes relating to this since.

[2020-03-31 09:34] joseluisquiroga commented on #1817
I am sorry for this late comment about this issue.
For any given language
If nothing semantically changes in the input nothing semantically should change in the output.

In this case the only way to be sure about this is for both netlists (with and without the comment) to be:
- The exact same netlist.
- Semantically equivalent netlist (basically a sat problem)

I do not know how to use your tool t

[2020-03-31 11:04] daveshah1 commented on #1847
I believe this is a duplicate of #1689

[2020-03-31 11:06] ZirconiumX commented on #1847
Ah, yeah, looks like it.

[2020-03-31 15:52] mithro commented on #1615
I think it has been fixed as far as I can see?

[2020-03-31 15:52] #1615 closed

[2020-03-31 16:56] dh73 commented on #1817
@joseluisquiroga ,
It is a valid concern, an a very good opportunity to learn more about synthesis and place-and-route tools and algorithms.

First of all, you did solved all of your syntactical problems, but you still had semantical ones:
* [rgo0_busy](https://github.com/messaging-cells/bug_synth_03/blob/80804dda7edfbe5c12b581ffc3fd2457f58fceba/rtl/nd_bug_03.v#L57) and [rgo0_added_hd](https://git

[2020-03-31 21:14] joseluisquiroga commented on #1817
Thanks a lot to all of you for all your help. And special thanks to Diego.

[2020-04-01 17:35] daveshah1 opened #1854 "memory_dff does not merge registers into read ports with unused bits"
From https://www.reddit.com/r/yosys/comments/fsb0a1/yosys_failed_to_infer_block_ram_when_i_changed/

Minimal example:
[code]

Run `yosys -p "prep -rdff" memopt.v`

The `dout` register is not merged, and a `$dff` remains. If the first line is uncommented, then the register is merged correctly.

[2020-04-01 19:55] #1839 closed

[2020-04-01 20:03] boqwxp opened #1855 "Source locations for some elements are missing or off by 1"
## Steps to reproduce the issue
[code]

## Actual behavior

`read_verilog -dump_ast1` gives:

[code]
## Expected behavior

`AST_IDENTIFIER <if.v:4.9-4.10> [0x55aa01947d40] str='\a'` should be `AST_IDENTIFIER <if.v:4.9-4.9> [0x55aa01947d40] str='\a'`

`AST_BLOCK <if.v:4.4-4.11> [0x55aa0194cde0]` should be `AST_BLOCK <if.v:4.4-4.9> [0x55aa0194cde0]`.  4.11 is an invalid location.  This is actually a

[2020-04-02 13:42] eddiehung commented on #1855
I'm not sure I agree with this. 4.9-4.9 would be a zero width range. My preference would be what it is now, as it is a `[begin,end)` range -- from begin, up-to-but-not-including end -- and is how C++ iterators specify ranges, how Python does slicing, etc.

[2020-04-02 16:15] #1841 closed

[2020-04-02 16:15] #1808 closed

[2020-04-02 16:37] #1824 closed

[2020-04-03 11:16] donnie-j opened #1856 "ghdlsynth build breaks"
ghdlsynth uses the following to compile its interface module:
[code]

A recent change to yosys breaks the inclusion of rtlil.h... at line 380 it tries to include "constids.inc" which appears only in the kernel directory, and is not in the include path.  A quick hack to put the yosys/kernel directory in the path manually results in a working ghdl module.

I had a quick look at the changesets and it

[2020-04-03 15:32] eddiehung commented on #1856
Sorry, I believe this is my doing for #1767! Please try #1858.

[2020-04-03 18:24] pablogs9 opened #1860 "Infering DSP with signed input and output"
## Steps to reproduce the issue

Using Yosys tag `yosys-0.9` I can't infer DSP tiles in this case:

[code]

## Expected behavior

I have seen that that `SB_MAC16` is able to multiply two signed  16 bits integer in this document: [Lattice DSP Guide](http://www.latticesemi.com/-/media/LatticeSemi/Documents/UserManuals/1D/DSPGuideforFPGAs.ashx?document_id=20342)
I would like to obtain the same synthe

[2020-04-03 19:09] pablogs9 commented on #1860
Tested on cf716e1fff53fe4633dce98ebca04fe36c283106 and works! Lovely, thanks for your work!

[2020-04-03 19:09] #1860 closed, assigned to nobody

[2020-04-05 21:15] tilk commented on #247
One of my students recently tried to use recursive functions in DigitalJS, and got a segmentation fault. I imagine this is the same bug as this one. This is the code in question, with irrevelant parts removed:
[code]

[2020-04-06 10:34] whitequark commented on #1838
See #1875.

[2020-04-06 11:21] whitequark commented on #1855
Ranges should be definitely half-open--anything else makes writing tooling that uses those ranges unnecessarily complicated. For example, an empty range is a great way to specify a point for inserting text.

[2020-04-06 13:13] ZirconiumX opened #1876 "Found error in internal cell while parsing Verilog"
## Steps to reproduce the issue

Using Yosys as of ebf23cd6, run Yosys on the following Verilog found by VlogHammer (just `yosys file.v` is fine):

[code]

## Expected behavior

Yosys parses the file successfully.

## Actual behavior

[code]

[2020-04-06 14:56] boqwxp commented on #1855
OK, I understand now that half-open ranges are desirable.  Still, I do not have confidence in the accuracy of each location.  Another example from the OP:
[code]

Why should `AST_ASSIGN_EQ` not include the semicolon and `AST_BLOCK` include it?  Should these locations not be identical?

[2020-04-06 17:03] boqwxp commented on #1855
Also, see the comment on line 1624 of `verilog_parser.y`, which has been in my fork for years:
[code]

I'm actually not sure that this still applies, but however this issue gets closed, that comment should be removed--either because it already no longer applies or because the bug will be fixed and then it will no longer apply.

[2020-04-06 18:39] whitequark commented on #1855
It does seem to me that ranges are inaccurate here. (In general it is not easy to make a parser that reports accurate locations in every case--speaking from experience--so it's to be expected.)

[2020-04-06 18:48] daveshah1 commented on #1855
I think this specific case comes from https://github.com/YosysHQ/yosys/blob/master/frontends/verilog/verilog_parser.y#L2308 which sets the location of the block to be the whole of `behavioral_stmt`, which includes the semicolon.

[2020-04-06 19:36] boqwxp commented on #1855
@daveshah1 Good call.  I updated the offending rule in PR #1877.  The output of `read_verilog -dump_ast1` is now:

[code]

[2020-04-07 15:06] #1813 closed

[2020-04-07 21:25] eddiehung commented on #1856
@donnie-j Can you confirm if this fixes your issue please?

[2020-04-08 12:45] Xiretza commented on #1856
Not OP, but 2d0b4033 still doesn't work - the error doesn't occur during compilation of yosys, but when ghdl-yosys-plugin includes the yosys headers:

[code]

I think the occurences in both [`rtlil.cc`](https://github.com/YosysHQ/yosys/blob/5d18fdadfe758fed14a93977d3e8e83096c26c5a/kernel/rtlil.cc#L45) and [`yosys.cc`](https://github.com/YosysHQ/yosys/blob/5d18fdadfe758fed14a93977d3e8e83096c26c5a/k

[2020-04-08 12:55] Xiretza commented on #1856
It'll also need an `$(eval $(call add_include_file,kernel/constids.inc))` in the Makefile to copy the file over during installation.

[2020-04-08 19:36] #1856 closed

[2020-04-09 04:02] #1838 closed

[2020-04-09 15:21] eddiehung commented on #1856
Thanks @Xiretza! Seems like I got the wrong end of the stick entirely. I still think there's value in #1858 as I believe convention is to include `<subdir>/<file>` regardless.

[2020-04-09 21:05] ashfaq1717 opened #1891 "How to convert one cell to a combination of other cells?"
How to replace all cells of one type (e.g., NOR3) with a combination of cells that have the same functionality (e.g., NOR2) while synthesising using Yosys...

[2020-04-09 21:07] ashfaq1717 opened #1892 "Selecting one of several cell types in dfflibmap based on timing/area tradeoffs"
How to force Yosys to use a particular cell in the library? In the library, sometimes we have multiple cells that have the same function (say, DFF) but with different timing, area and power. For example, there can be a DFF1 that has low area, medium setup time and medium clk-to-q delay, and a DFF2, which has high area, low setup time and medium clk-to-q. (The difference between them is the circuit

[2020-04-10 05:58] donnie-j commented on #1856
Yup, now seems to be fixed.  Thanks all.

[2020-04-10 12:11] ZirconiumX commented on #1892
The pass responsible for this is `dfflibmap`, which isn't timing-aware. To it, all Liberty cells that match a given DFF type are equally valid, so it just picks one.

I think the [OpenROAD fork of Yosys](https://github.com/The-OpenROAD-Project/yosys) tries to perform physical synthesis for timing, but I don't know whether it applies in this case.

If you really, desperately want it to use a partic

[2020-04-10 12:14] ZirconiumX commented on #1891
This can be done by writing a `techmap` Verilog script as a post-processing pass.

For example:
[code]
And then adding `techmap -map path/to/nor3.v` to the end of your Yosys synthesis script.

[2020-04-10 12:41] daveshah1 commented on #1891
In the future, please do not use GitHub issues for support questions. IRC  (https://webchat.freenode.net/#yosys) or Reddit (https://www.reddit.com/r/yosys/) are probably the best options.

[2020-04-10 12:41] #1891 closed

[2020-04-10 14:27] ashfaq1717 commented on #1892
how can I target a specific cell i.e. dff in a liberty library with dfflibmap, kindly provide exact command if any?

[2020-04-10 19:31] WRansohoff opened #1895 "Recent versions of YoSys generate much larger designs"
## Steps to reproduce the issue

Example IL to demonstrate this issue: https://gist.github.com/WRansohoff/95ad66005847f9ce3b88110655f86fda

Synthesize the above RTLIL for an iCE40 UltraPlus with the most recent commit (currently 93ef516), and observe the following report statistics:

[code]

Synthesize it with an older commit (ed4fa19b), and observe the following output:

[code]

Sorry that I don'

[2020-04-10 20:05] daveshah1 commented on #1895
This seems to be a regression from #1603 that is now rejecting some BRAM.

Log without 1603:

[code]

Log with 1603:
[code]

[2020-04-10 20:17] whitequark commented on #1895
@daveshah1 Yup, but the underlying cause is a bug in `memory_bram` which causes it to sometimes reject a valid configuration. This patch fixes it:
[code]
However, I don't understand why the code looks like it does currently (the commit 8d295730e5 that introduced the current condition is uninformative), so I'm not sure if this is the right fix.

[2020-04-10 20:19] daveshah1 commented on #1895
I was just looking into it and thought that line looked dodgy too.

[2020-04-10 20:30] daveshah1 commented on #1895
I think the purpose of the line is that or_next_if_better is implied for all but the last BRAM variant, this makes sense as all variants should be tried. The problem might really be the line below (`if (failed_brams.count(pair<IdString, int>(bram.name, bram.variant)))`)

[2020-04-10 20:40] daveshah1 commented on #1895
Alternative patch that seems to work:

[code]

[2020-04-10 20:46] whitequark commented on #1895
Looks good to me; would you submit a PR?

[2020-04-10 20:51] daveshah1 commented on #1895
#1897

[2020-04-10 20:54] WRansohoff commented on #1895
Wow, thank you all for the quick investigation and patch!

[2020-04-11 09:45] ashfaq1717 commented on #1892
If you really, desperately want it to use a particular cell, you'll have to instantiate it manually, or else improve dfflibmap.
how I can, can you explain it plz

[2020-04-11 10:01] ashfaq1717 opened #1899 "how to target a specific cell in a library to map"
I want to map a on a specific cell in a library, e.g. NOR instead of NAND?
I want to target one dff of my choice in a library how can I?

(1) dfflibmap [-prepare] -liberty <file> [selection]

kindly explain how can I run above command and whats its functionality what to write in [selection] and [-prepare] part, I get error every time?

(2) chtype -set DFF2 module/name_of_ff

kindly explain how can

[2020-04-12 05:13] whitequark commented on #1594
I believe this proposal has been implemented as a part of #1642.

[2020-04-12 05:13] #1594 closed

[2020-04-12 05:14] whitequark commented on #1594
@RobertBaruch Could you explain why you suggested the following format?

To me it seems like `<width>` is extraneous but I must be missing something.

[2020-04-12 16:30] ashfaq1717 opened #1905 "on which parameters yosys select a specific flipflop from libray to map the design"
on which parameters yosys select a specific flipflop from libray to map the design please somebody explain..,there are many flipflops in a library, how yosys select one?

[2020-04-12 16:48] mwkmwkmwk commented on #1905
This is not a support channel.  Please ask this question on our IRC channel, subreddit, or stack overflow.

[2020-04-12 16:48] #1905 closed

[2020-04-12 16:48] mwkmwkmwk commented on #1899
This is not a support channel. Please ask this question on our IRC channel, subreddit, or stack overflow.

[2020-04-12 16:48] #1899 closed

[2020-04-12 17:29] msinger opened #1906 "Segfault/assertion in frontend"
There seems to be some memory corruption introduced in commit f0afd65035fefebdea8edbd00c916c5f33e8a634 that causes random segfaults or assertions of this kind:
ERROR: Assert `p[0] == '$' || p[0] == '\\'' failed in ./kernel/rtlil.h:153.

I'm not able to reproduce it with a simple example. I've attached a zip file with my code that can be built with this command line:
yosys -q -p "synth_ice40 -abc2

[2020-04-12 17:35] daveshah1 commented on #1906
Valgrind says:

[code]

definitely something going on here!

[2020-04-12 17:51] daveshah1 commented on #1906
See #1907

[2020-04-12 18:20] msinger commented on #1906
Oh, wow. Thank you for digging into it so quickly!

[2020-04-12 19:19] tomverbeure opened #1908 "Yosys aborts on $memrd/wr cells when saving json, reloading json, and continuing the same process"
## Steps to reproduce the issue

Start Yosys and do this:
[code]

Restart Yosys and do this:
[code]

Full repro environment can be found here: https://github.com/tomverbeure/yosys_error/tree/save_reload_crash.

Just clone and execute  `./run.sh`.

## Expected behavior

I expected to be able to use JSON to save and restore state and pick up where I left off.

[According](https://old.reddit.com/r/yo

[2020-04-12 19:29] RobertBaruch commented on #1594
To support not having to add leading zeros, as in 16'0.

[2020-04-12 20:08] #1906 closed

[2020-04-13 00:34] ZirconiumX commented on #1876
cc @cliffordwolf @xyclairew

[2020-04-13 00:39] boqwxp commented on #1876
Also:

[code]

gives output:
[code]

[2020-04-13 00:44] boqwxp commented on #1876
And
[code]

gives:
[code]

[2020-04-13 00:46] boqwxp commented on #1876
I've got other examples with `$add`, `$sub`, `$ne`, and `$mul`, all with one signed parameter and one unsigned parameter.

[2020-04-13 00:54] whitequark commented on #1594
When is not having leading zeroes important? The current representation is harder to work with in whatever backend ends up interpreting the enumeration, is that justified?

[2020-04-13 01:20] RobertBaruch commented on #1594
I have no opinion either way. It was just based on my own usage in Verilog, but if it's automatically generated, it makes no difference.

[2020-04-13 04:27] whitequark commented on #1594
Thanks for the explanation. If you are not opposed to it, I would much prefer to use a simpler representation that represents the state less ambiguously. I will prepare a PR.

[2020-04-13 07:29] ashfaq1717 commented on #1905
No one gives answers there, I have tried. please don't mind. God will bless
you if you help someone.

On Sun, Apr 12, 2020 at 9:48 PM Marcelina Kościelnicka <
notifications@github.com> wrote:

--

Ashfaq Hussain
Trainee DV Engineer | Lampro Mellon
Mobile:  +923046763117
Email:  ashfaq1717@gmail.com
Address:  M.M. Tower, Gulberg III LHR

[2020-04-13 07:38] ashfaq1717 opened #1911 "Unable to check whether modified circuit is logically equivalent to the original circuit after extract pass?"
once we do changes in the netlist (whether it is through the techmap -map or extract), we need to check that the modified circuit is logically equivalent to the original circuit. How can we check?

[2020-04-13 07:39] daveshah1 commented on #1911
I have already replied to the same question on [Reddit](https://www.reddit.com/r/yosys/comments/g0dw77/how_to_check_modified_circuit_is_logically/). There is no need to post here too.

[2020-04-13 07:39] #1911 closed

[2020-04-13 07:44] ashfaq1717 commented on #1911
Thanks brother. God bless you

On Mon, Apr 13, 2020 at 12:39 PM David Shah <notifications@github.com>
wrote:

--

Ashfaq Hussain
Trainee DV Engineer | Lampro Mellon
Mobile:  +923046763117
Email:  ashfaq1717@gmail.com
Address:  M.M. Tower, Gulberg III LHR

[2020-04-13 14:52] #1500 closed

[2020-04-13 15:05] ZirconiumX opened #1912 "optimise $alu cells with known propagate/generate states"
Consider the following example based on some code I wrote:

[code]

Here, Yosys should notice that carries can neither propagate nor generate from one byte to the next, and bisect the 64-bit `$alu` cell into 8 8-bit `$alu` cells, drastically shortening the carry propagation delay.

It's also possible that in the middle of a `$alu` there's a generate term (e.g. 1+1). The `$alu` cell could be bisect

[2020-04-13 16:49] jjj11x commented on #1837
I've been tracking a very similar problem, and think I found the solution. I will open a pull request soon, but as a stopgap for the time being, using `read -sv` instead of `read_verilog -sv` seems to work for some reason (I haven't looked into why).

The problem is a regression introduced in 0a1af434 (in the else block, when the cached representation is found, it should return new_modname instead

[2020-04-13 18:12] ZirconiumX opened #1914 "Assert `wire' failed in passes/techmap/abc9_ops.cc:967 with &fraig in abc9.script"
## Steps to reproduce the issue

Using [bug.tar.gz](https://github.com/YosysHQ/yosys/files/4471029/bug.tar.gz) run `yosys -s script.ys chess.v`. (Sorry, but `bugpoint` crashed while working on this, so I don't have anything more minimal than the input source)

## Expected behavior

ABC9 either succeeds or fails gracefully.

## Actual behavior

[code]

This is a tricky one; for example, replacing `

[2020-04-13 18:13] ZirconiumX commented on #1914
(I forgot to attach the source files before hitting submit; they're attached now)

[2020-04-13 18:17] eddiehung commented on #1914
`&fraig` is not supported in any box-aware flow.

[2020-04-13 18:23] ZirconiumX commented on #1914
Right, okay; the ABC docs are not all that clear on this. Feel free to close this then.

[2020-04-13 18:25] #1914 closed

[2020-04-13 20:49] mwkmwkmwk commented on #1912
(please note that the optimization is *not* actually applicable to the attached code — for negation, it's const `1` bits that allow breaking the carry chain, not const `0` bits)

[2020-04-14 03:49] tux3 opened #1919 "Segmentation fault assigning global parameters to each other"
## Steps to reproduce the issue

Run `yosys test.v` on or around f44b287f

[code]

## Expected behavior

Should not crash.

## Actual behavior

[code]

Backtrace:
[code]

[2020-04-14 10:21] daveshah1 opened #1920 "cxxrtl compile issue with disconnected outputs"
MCVE:
[code]

[code]

gives
<pre><b>disconn.cc:</b> In member function ‘<b>virtual void cxxrtl_design::p_top::eval()</b>’:
<b>disconn.cc:50:36:</b> <font color="#CC0000"><b>error: </b></font>no match for ‘<b>operator=</b>’ (operand types are ‘<b>cxxrtl::value&lt;0&gt;</b>’ and ‘<b>cxxrtl::value&lt;1&gt;</b>’)
   50 |  value&lt;0&gt;() = cell_p_submod__i.p_q.<font color="#CC0000"><b>curr</b></font>

[2020-04-14 11:14] whitequark commented on #1920
That's interesting. I didn't realize you can do this in RTLIL? (Or Verilog for that matter.)

[2020-04-14 12:37] whitequark commented on #1920
#1922. I couldn't get Yosys to produce anything other than a connection to every bit and a connection to no bit, but I'm not sure if this is the right fix.

[2020-04-14 14:29] jjj11x commented on #1837
Hmm actually I'm not completely sure if that's a regression anymore, or what the actual problem is. Using `read -sv` instead of `read_verilog -sv` does seem to help though.

[2020-04-14 14:37] #1920 closed

[2020-04-14 15:44] nakengelhardt commented on #1908
Proposed "fix": `write_json` should emit an error if it encounters `$memrd/$memwr`.

[2020-04-14 15:52] cliffordwolf commented on #1919
I tried with the following `test.v` and it does not crash. Please post an actual MCVE.

[code]

[2020-04-14 16:01] daveshah1 commented on #1919
It does crash if your `test.v` is just
[code]
without the module/endmodule.

[2020-04-14 17:52] #1704 closed

[2020-04-14 18:43] cliffordwolf commented on #1876
This bug was added in 5bba9c3640971e25544f2053b31eb152c138c3af @eddiehung.

[2020-04-14 18:50] cliffordwolf commented on #1876
Looking at this commit, it also does the wrong thing when the condition is `x`.

[2020-04-14 19:32] daveshah1 opened #1931 "cxxrtl: ROM doesn't function correctly"
rom.v:
[code]

rom_test.cc:
[code]

Command line:
[code]

Output from `rom_test` is all 16'h0000 rather than 16'h5555/16'hAAAA alternating as expected. Looking inside the generated code, the `if (value<1>{0u})` doesn't look right here:
[code]

[2020-04-14 19:40] dh73 commented on #1799
For the sake of completeness and aiming to close this issue:

First, the HDL does not represent the design intention.  From IEEE.1364-2005, page 154:

In this example `addrwidth` input argument is specified as 1-bit. This yields into a single register of `DATAWIDTH` width (`memory[0:0][3:0]`) instead of the design intention (`memory[255:0][3:0]`).
[code]
The correct definition would be such as fol

[2020-04-14 19:48] #1912 closed

[2020-04-14 20:15] rodrigomelo9 commented on #1799
I have not IEEE.1364-2005 where I am, but I have IEEE.1364-2001 here. In 10.3.5 (**Use of constant functions**) the following example is provided (I assume that is also present in 2005):

[code]
There, `depth` has not a specified width, as happens in the provided example.

I am not sure about it can't be used as `reg [DATAWIDTH-1:0] ram [0:getSize(ADDRWIDTH)-1];`, but, in such case, the message mu

[2020-04-14 21:34] rodrigomelo9 commented on #1799
@dh73 as far I understand, it is a constant function:
[code]
And it is a valid `expression` (at least in IEEE 1364-2001):
[code]

[2020-04-15 05:34] #1931 closed

[2020-04-15 11:13] Ravenslofty opened #1940 "Poor error message with two always blocks named the same"
## Steps to reproduce the issue

Run yosys on the following Verilog:

[code]

## Expected behavior

Perhaps something like
[code]

## Actual behavior

[code]

Where the real cause is the duplicate block name.

[2020-04-15 14:01] #1876 closed

[2020-04-15 14:12] #1693 closed

[2020-04-15 14:13] #1092 closed

[2020-04-15 15:10] #1895 closed

[2020-04-16 09:03] Kmanfi commented on #1908
I am using "$memrd/$memwr" cells written in JSON. This proposed "fix" would break it.

[2020-04-16 09:09] whitequark commented on #1908
Without being able to associate them with memories (which are not representable in the current JSON format) there is not much that can be done with those cells. How are you using them?

[2020-04-16 09:13] Kmanfi opened #1942 "Speed opt. Compared std 11, 14, 17, 2a."
## Steps to reproduce the issue
Compiled Yosys with different std versions.

Yosys 0.9+2406 (git sha1 bb42b641, clang 11.0.0 -O3 -DNDEBUG -fPIC)

`time make test`
std=c++11
real	11m13.547s
user	10m25.694s
sys	0m35.091s

std=c++14
real	10m58.735s
user	10m14.206s
sys	0m32.700s

std=c++17
real	10m33.387s
user	9m49.292s
sys	0m31.639s

std=c++2a
real	9m56.299s
user	9m12.764s
sys	0m31.032s

Would be nic

[2020-04-16 09:16] Kmanfi commented on #1908
Using them in a custom "cxx" like backend as ports to read and write C array content.

[2020-04-16 09:22] whitequark commented on #1908
Are you inferring the memory width from the `\WIDTH` parameter of `$memrd` cells, and the memory depth from the `\ABITS` parameter?

[2020-04-16 09:42] Kmanfi commented on #1908
Yes.
I have added "torder" into write_json. Then those memrd and memwr cells are leveled in correct level of logic. $mem can't be used coz it's not possible to "torder" it.

[2020-04-16 09:43] cliffordwolf commented on #1919
Ahh! Thanks for clarifying. I did not understand that this is verbatim the entire contents of `test.v` because so often people send just partial test cases, leaving out the bits that they do not "deem important".

[2020-04-16 10:13] whitequark commented on #1908
It seems like you are already using a patched version of Yosys to do what you want. This means that you won't be affected by the change as you can revert it in your own fork; however, I would personally argue that the JSON format can be extended to include expanded memories. The added complexity is minor, and they are still useful even without support for processes.

That said I would leave the fi

[2020-04-16 10:21] Kmanfi commented on #1908
+1 to read expanded memories in with read_json.

[2020-04-16 12:48] #1919 closed

[2020-04-16 13:36] jfng opened #1944 "cxxrtl: eliding wires connected to a $memwr impacts model behaviour"
## Steps to reproduce the issue

RTLIL:
[code]

Driver:
[code]

## Expected behavior

[code]
Regardless of `write_cxxrtl` optimization level.

## Actual behavior

write_cxxrtl -O2:
[code]

write_cxxrtl -O3:
[code]

[2020-04-16 15:33] jfng commented on #1944
Another reproduction of the bug, with nMigen's SyncFIFO:
[code]
Driver:
[code]

-O2:
[code]

-O3:
[code]

-O4:
[code]

Diff between O2 and O3:
[code]

[2020-04-16 16:30] whitequark commented on #1944
This is actually not a bug in cxxrtl itself, but a race condition (a simulation equivalent of setup/hold violation). However, the documentation for the backend did not explain it, and the example that came with it was misleading, and made it easy to write racy code. Therefore, I will fix the documentation.

[2020-04-16 16:31] jfng commented on #1944
As discussed privately with @whitequark, this behaviour comes from a setup/hold violation in my code. (`top.p_clk` and other input signals where set at the same time)

In my testbench, changing `tick()` to:
[code]
makes the model behave correctly.

[2020-04-16 18:55] tomverbeure opened #1948 "write_cxxrtl aborts with out_of_range error"
## Steps to reproduce the issue

I tried to convert an existing, working, design to C with `write_cxxrtl`:

[code]

To repro:

* Clone the https://github.com/tomverbeure/yosys_error repo
* Check out the `cxx_abort` branch
* `./run.sh`

## Expected behavior

A CpuComplex.c file.

## Actual behavior

Yosys aborts with the following error:

[code]

## Additional info

* Yosys version is bleeding edge

[2020-04-16 21:28] #1944 closed

[2020-04-16 21:29] whitequark commented on #1948
If you need a workaround until I fix this bug, try running `prep -top CpuComplex` instead of `hierarchy ...`.

[2020-04-17 02:03] whitequark commented on #1948
Does the following patch help?
[code]
Please run the simulation, compare it to another simulation built after running `proc`, and report any difference in behavior.

[2020-04-17 06:14] boqwxp commented on #1855
Another example (from @ZirconiumX):
[code]

[2020-04-17 07:24] kost opened #1953 "Error compiling yosys"
## Steps to reproduce the issue

[code]
Complete build logs are available here (look at the end):
https://travis-ci.org/github/alpin3/ulx3s/builds/676069487

## Expected behavior

Smooth compilation of yosys

## Actual behavior

It breaks build with:
[code]

[2020-04-17 07:29] daveshah1 commented on #1953
Please can you provide a bit more information on your build environment?

[2020-04-17 07:33] kost commented on #1953
standard alpine docker image:

[code]

[2020-04-17 07:44] daveshah1 commented on #1953
I think that #1954 should fix this.

[2020-04-17 08:16] tomverbeure commented on #1948
Thanks!

After applying the patch, a C file is created (but you probably already knew that.)

I'm only about to start to get a simulation going with that. I'll report back when I have some results.

[2020-04-17 09:07] #1953 closed

[2020-04-17 10:38] ashfaq1717 opened #1956 "How to replace basic logic cells (Nand,Not etc ) with a macro cell (i.e. adder)"
If in a design there is an adder implemented by basic logic cells i.e. nand, not, etc, how can I identify that adder and replace with a macro adder cell to replace the logic cells?

For some reasons, I couldn't post on reddit, so I posted here. accept appologies

[2020-04-17 12:01] mwkmwkmwk commented on #1956
There are multiple other support channels for yosys questions, such as IRC (http://webchat.freenode.net/?channels=yosys) and Stack Overflow (http://stackoverflow.com/questions/tagged/yosys), both of which are linked from the yosys website.  I particularly recommend IRC, due to the amount of yosys developers / power users frequenting it.  This issue tracker is explicitely for reporting yosys bugs a

[2020-04-17 12:01] #1956 closed

[2020-04-17 12:13] mwkmwkmwk commented on #1956
That said, you may want to take a look at the `extract_fa` and/or `extract_counter` passes. They're not exactly full adder recognition, but we don't have anything better.

[2020-04-17 14:54] Ravenslofty opened #1958 "memory_bram should have a "RAM initialises to zero" parameter"
At present, `memory_bram` only supports "can't be initialised" and "initialises to anything", but (at least until `memory_bram` passes file information) Intel RAM initialises to zero, Xilinx UltraScale+ UltraRAM also does, and so does iCE40UP SPRAM.

It's fairly common for memory to default initialise to zero (I believe this is what nMigen does), and since the alternative is falling back to flops,

[2020-04-17 17:52] mwkmwkmwk opened #1959 "Memory inference redesign"
Requirements:

- [ ] read, write, and read+write ports
- [ ] support for asymmetric width ports (eg. 4-bit write, 8-bit read)
- [ ] uninitialized, zero initialized, or initalized with arbitrary data
- [ ] synchronous write, with byte enables
- [ ] asynchronous read
- [ ] synchronous read, with
- [ ] ... read new value [for write+read ports]
- [ ] ... read old value [for write+read ports]
- [ ] ...

[2020-04-17 17:58] daveshah1 commented on #1959
Better handling of transparency would also be something I'd like to see, needed to support most TDP patterns - c.f. #1390 and nmigen/nmigen#216

[2020-04-17 17:58] mwkmwkmwk commented on #1959
Not in scope:

- Xilinx extra pipeline registers — would be introducing too much complication into the pass, can just as well be handled by matching the "base" first, then using a custom pattern match pass to merge `$dff*` into the cell
- all sort of vendor-specific ECC / FIFO stuff (no reasonable way to infer)

[2020-04-17 19:18] ZirconiumX commented on #1959
It should handle multiple write ports without giving up and falling back to flops.

[2020-04-17 20:38] mwkmwkmwk commented on #1959
I mean, uh, that's kind of obvious :p

[2020-04-17 21:07] nmoroze opened #1960 "SMT-LIB backend generates two datatype fields for async read-only memories"
Hi, I have a question regarding why Yoys's SMT-LIB backend handles async read-only memories the way it does.

For example, if I have Verilog like:
[code]

And synthesize it like so:
[code]

Then the datatype for the module in the output file looks like this:
[code]

With duplicate entries for the `rom` register. I'm curious what the purpose is of exporting these two separate fields? It seems like

[2020-04-17 21:36] #1948 closed

[2020-04-17 21:37] whitequark commented on #1948
@tomverbeure I verified that the patch works on `sync always` rules using one of my test designs. So if you find that your design doesn't work, it's probably a bug elsewhere.

[2020-04-17 23:09] dh73 commented on #1799
Hello,

In IEEE 1364-2001, that example is wrong, as it does not follow the Verilog function semantic rules described in the same document. It is also confirmed in the [Verilog-2001 Behavioral and Synthesis Enhancements](http://www.sunburst-design.com/papers/CummingsHDLCON2001_Verilog2001.pdf), section 3.0: **LRM Errors**. In IEEE 1364-2005 that example is fixed, as you already pointed out.

The p

[2020-04-18 00:10] rodrigomelo9 commented on #1799
I understand your point that the function is wrong (is not doing what expected). I don't understand that the usage of the function is wrong. Do you say that I can't use the result of a function to specify a range?  It sounds strange (I saw similar code several times). And the complaint message is saying that the resulting value is not constant when it is wrong. I still see an error here, but if yo

[2020-04-18 05:14] kost opened #1962 "ABC: Assertion failed - Gia_ManInsertMfs"
## Steps to reproduce the issue

Building SaxonSoc available here:
https://github.com/SpinalHDL/SaxonSoc

With instructions documented here:
https://github.com/dok3r/ulx3s-saxonsoc/blob/master/scripts/build.sh

Using following yosys command:
[code]
Getting following error:
[code]
Last known yosys version which works (from somewhere around 2020-03-13):
[code]

First known yosys version which failed

[2020-04-18 07:43] ZirconiumX commented on #1962
#1459 was the same bug, which was fixed upstream with 37537609. It's quite odd for it to be back again, but likely means the fix didn't actually fix it.

[2020-04-18 07:57] daveshah1 commented on #1962
Yes, based on past experience of this bug it may well not be a change in those Yosys revisions that caused it per se, but rather unrelated changes to the netlist resulting from those commits triggering the never-properly-fixed bug in ABC9.

[2020-04-18 07:59] daveshah1 commented on #1962
Sorry, closed by a mistake.

[2020-04-18 10:39] Afromaniac commented on #1837
Thank you for your input! I tried it with `read -sv` and that did appear to change the behaviour somewhat, but in general the error persists. I'll spend some more time on this bug this weekend.

[2020-04-18 15:23] jchidley opened #1965 "yosys: error while loading shared libraries: libffi.so.6: cannot open shared object file: No such file or director"
## Steps to reproduce the issue

*Provide instructions for reproducing the issue. Make sure to include
all necessary source files. (You can simply drag&drop a .zip file into
the issue editor.)*

run

[code]
on Arch linux for [AUR yosys-git](https://aur.archlinux.org/packages/yosys-git/), then run:

[code]

See https://stackoverflow.com/help/mcve for some information on how to
create a Minimal, Com

[2020-04-18 15:37] daveshah1 commented on #1965
I attempted to reproduce and get the following error in `make test`:

<pre>Running plugin.sh..
<b>plugin.cc:1:10:</b> <font color="#CC0000"><b>fatal error: </b></font>kernel/rtlil.h: No such file or directory
    1 | #include <font color="#CC0000"><b>&quot;kernel/rtlil.h&quot;</b></font>
      |          <font color="#CC0000"><b>^~~~~~~~~~~~~~~~</b></font>
compilation terminated.</pre>

So there i

[2020-04-18 16:50] jchidley commented on #1965
I wondered about out-of-date stuff too.  So I did a full Arch upgrade, deleted the entire yosys-git (rm -r yosys-git) directory and reinstalled from scratch.  No change.  It might be a problem with libdiff itself

[2020-04-18 21:44] Xiretza commented on #1965
The failing tests have already  been mentioned in https://github.com/YosysHQ/yosys/commit/f11dd6e20838bce1b1fa8e085570d2126484d10f#r38433102, I think I'll open a separate issue for that though.

[2020-04-18 22:09] Xiretza commented on #1965
Can't reproduce, the yosys binary in the `yosys-git` package I just built (in a clean chroot) links against `libffi.so.7`:

[code]

And this is surely out of scope anyway, if you can't reproduce it with a yosys built directly from the git tree, it's a package issue, not a yosys issue.

[2020-04-18 22:14] Xiretza opened #1966 "tests: various/plugin.sh fails when PREFIX != /usr/local/share"
This has already been brought up in https://github.com/YosysHQ/yosys/commit/f11dd6e20838bce1b1fa8e085570d2126484d10f#r38433102, but I'll add it here for better visibility and tracking.

## Steps to reproduce the issue

[code]

## Expected behavior

The tests complete without error.

## Actual behavior

`tests/various/plugin.cc` fails to compile with:

[code]

This is due to the replacement of incl

[2020-04-18 22:45] eddiehung commented on #1966
Sorry, dropped that previous comment. Thanks for filing, will look at it next week.

[2020-04-18 22:49] eddiehung commented on #1837
I haven't looked at the test case in detail, but perhaps this helps: the difference between `read` and `read_verilog` is that the former will not elaborate the design immediately (equivalent to the latter with the `-defer` option, which has this help text:
[code]
)

[2020-04-19 00:27] FFY00 commented on #1965
If you build yosys-git against a specific libffi version, when libffi updates you will need to rebuild it.

Everything here is working as expected, you just need to rebuild yosys-git against the new libffi version.

And as @Xiretza suggested, you should build the package in a clean chroot (use `extra-x86_64-build` from `devtools`).

[2020-04-19 14:27] #1965 closed

[2020-04-19 19:01] Afromaniac commented on #1837
Alright!

I think I've managed to catch the trail of this particularily annoying bug. In the AST Preprocessor there's a shared namespace `AST_INTERNAL` with some global variables, of which the most interesting here is `current_scope`, a map of identifier names and pointers to the `AstNode` the identifier is referencing.

When `AST::process` is called on `if1` (the first module parsed in this examp

[2020-04-20 12:56] acomodi opened #1970 "ABC9 failure due to wrongly formed input.lut temp file"
## Steps to reproduce the issue

[test.zip](https://github.com/YosysHQ/yosys/files/4503542/test.zip)

The `test.zip` archive contains a test design and the tcl synthesis script.

Reproduce:
1. unzip test.zip
2. run `yosys -p "tcl synth.tcl" basys3_top.v rom.v  srl_init_tester.v`

Yosys version: `Yosys 0.9+2406 (git sha1 2b1fb8c0, clang 6.0.0-1ubuntu2 -fPIC -Os)`

## Expected behavior

*Please desc

[2020-04-20 15:34] eddiehung commented on #1962
Yes, this is another known issue in ABC. It looks like I'll have to disable "&mfs" again.

[2020-04-20 16:00] eddiehung commented on #1970
In the future, you want to make it easy as possible for someone to fix this for you so please put some effort into reducing this testcase. The `srl_init_tester.v` and `rom.v` files are not necessary here, and `basys3_top.v` can be reduced significantly. This not only makes it easier to identify the problem, but can also be used as a testcase so that it doesn't get broken in the future.

[2020-04-20 16:08] acomodi commented on #1970
@eddiehung Sure, you are right. Actually the only thing that is necessary in the design is the LUT2 instantiation. I have reduced the top.v file with only that.

Here is the new zip:
[test.zip](https://github.com/YosysHQ/yosys/files/4504705/test.zip)

And the command to reproduce it:
`yosys -p "tcl synth.tcl" top.v`

[2020-04-20 17:10] eddiehung commented on #1966
Hi @Xiretza, can you give #1973 a try please?

[2020-04-20 17:12] eddiehung commented on #1970
Thanks @acomodi, doing the same would be very helpful in the future and encourages a prompt fix. Please give #1972 a try!

[2020-04-20 17:35] eddiehung commented on #1962
@kost: please give #1974 a try!

[2020-04-20 18:01] acomodi commented on #1970
@eddiehung Tested the initial design and works! Thanks

[2020-04-20 18:39] #1970 closed

[2020-04-20 21:53] mwkmwkmwk commented on #1959
A bunch of related issues that should be fixed:

- #1802
- #1748
- #1134
- #1087
- #1088
- #1854
- #1836
- #1810

[2020-04-21 08:29] kost commented on #1459
Not sure it is fixed:

[code]

[2020-04-21 08:44] daveshah1 commented on #1459
The pull request containing the new fix is #1974.

[2020-04-21 15:07] kost commented on #1962
Just tested and can confirm it works.

I have used 215ac18f736cff06a4186e11b9abaa3d669f32e7 commit hash of dev branch of https://github.com/SpinalHDL/SaxonSoc.git which is known to cause this issue.

[2020-04-21 17:04] #1733 closed

[2020-04-21 17:09] #1819 closed

[2020-04-21 17:09] #1821 closed

[2020-04-21 17:09] #1822 closed

[2020-04-21 17:09] #1823 closed

[2020-04-21 17:10] mwkmwkmwk commented on #1820
Fixed in 06a344efcb4a8c56f230715481ce07e715a7a4b3

[2020-04-21 17:10] #1820 closed

[2020-04-21 17:11] mwkmwkmwk commented on #1807
The positional version should work now — can you retest?

[2020-04-21 17:59] dh73 commented on #1799
No, I'm definitely not saying that.

As we both agreed with the wrong definition of the first function example, let us forget that.
Now, regarding the function usage, `IEEE 1364.1, 7.2.2.2 Variable declarations AND A.8.3 Expressions` states all of the following definitions in BNF as valid dimensions and expressions for the synthesizable subset:

[code]
[code]
Since Yosys does support the `constant

[2020-04-21 19:54] rodrigomelo9 commented on #1807
Hi @mwkmwkmwk. I compiled and installed the last master version and now... The three examples are synthesized without complaints. I compare the three synthesis logs and the only difference between `primitive_1.v` and the other two examples, is that LUT2 is not present when statistics are printed. It seems that it could be a problem.. maybe a warning or error (because unsupported) could be better?

[2020-04-21 19:58] mwkmwkmwk commented on #1807
There is no reasonable warning we could give here, really: in the first example, you're passing the INIT value as an attribute instead of parameter, which (if ever supported) is legacy Xilinx cruft we don't want.  The attribute is ignored (as usual for unknown attributes), and the parameter value is now taken from the default in `cell_sim.v`, which is 0.  The `xilinx_dffopt` pass, in turn, notices

[2020-04-21 20:06] rodrigomelo9 commented on #1807
Ok, I understood and agree. So, it is solved. Thanks.

[2020-04-21 20:09] #1807 closed

[2020-04-21 20:13] rodrigomelo9 commented on #1799
Hi Diego, don't worry, it is ok.

I can deal with an inaccurate message but, thinking in users of a synthesizer, I think that it could be confusing, resulting in a decrement of the UX. If the developers think that it is ok, the issue can be closed.

Thanks.

[2020-04-21 20:31] mithro commented on #1807
@rodrigomelo9 - I agree with @mwkmwkmwk that we probably don't want to promote the usage of these legacy Xilinx cruft and hence upstream Yosys support is probably not the right place.

For compatibility reasons it could still be useful to have a pathway forward to supporting them. A very simple pass which "lowers" the attribute into the correct parameter should be pretty easy to right. This could

[2020-04-21 21:09] rodrigomelo9 commented on #1807
Hi @mithro, I agree with do not support these attributes in Yosys. In fact, I always tried to avoid attributes in the code, so it is not something in what I am particularly interested. I didn't know about the Yosys-plugins repo, thanks.

[2020-04-22 00:08] mithro commented on #1807
@rodrigomelo9 -- Could you log a bug on the SymbiFlow Yosys plugin repo with the information here so that it doesn't get lost?

[2020-04-22 02:54] rodrigomelo9 commented on #1807
Of course @mithro, I can, but... I am not sure what to report :p

In this particular issue, the behaviours of the tools are:
* ISE: aborts because xst rejects the attribute.
* Vivado: ignore the attribute (with a warning) and performs synthesis (the LUT2 is still there at the end @mwkmwkmwk [FYI](https://github.com/YosysHQ/yosys/files/4513501/primitive_1.txt)).
* Yosys (now): ignore the attribute

[2020-04-22 12:30] whitequark opened #1980 "Verific unconditionally prints license information to stdout"
This currently breaks nMigen, as [described here](https://github.com/nmigen/nmigen/pull/364). It really should use stderr instead to keep Yosys usable in *nix pipelines.

[2020-04-22 12:33] daveshah1 commented on #1980
This only seems to occur when linked with evaluation Verific, a Symbiotic EDA build with proper Verific seems fine.

[2020-04-22 13:39] whitequark commented on #1980
cc @hofstee

@daveshah1 Still, can it be fixed for evaluation Verific too? I can't think of any reason it should use stdout and not stderr.

[2020-04-22 14:48] cliffordwolf commented on #1980
Suppressing that message would be a violation of the Verific evaluation license afaiu.

[2020-04-22 14:55] whitequark commented on #1980
@cliffordwolf Not suppressing. Getting it to stderr and not to stdout, where it would be *more* visible if anything.

[2020-04-22 15:11] cliffordwolf commented on #1980
Still a violation of the eval license. Afair this could only be done by patching the verific eval binary, as they are printing this in a global constructor or something. It's not something that is under the control of the application using the library.

[2020-04-22 15:15] whitequark commented on #1980
You are [entirely correct about the global constructor](https://github.com/nmigen/nmigen/pull/364#issuecomment-617748888) but I didn't realize there is no way around except to patch it. That's quite obnoxious.

[2020-04-22 15:15] #1980 closed

[2020-04-22 17:19] #1966 closed

[2020-04-23 07:34] daveshah1 opened #1990 "Dynamic bit write with signed expression fails"
Minimised from an example by @smunaut

[code]
gives
[code]

This appears to be a regression caused by #1851, reverting the merge commit causes it to build fine.

[2020-04-23 07:42] daveshah1 commented on #1990
Possible patch, although I don't know if this handles all cases correctly (e.g. if one of the vector bounds is negative, is this even legal?)

[code]

[2020-04-23 07:51] daveshah1 commented on #1990
Even with the above patch, I also get a logic loop warning that wasn't shown before:
[code]

[2020-04-23 09:39] smunaut commented on #1958
jfyi I don't think the iCE40UP SPRAM inits to zero.

[2020-04-23 13:46] eddiehung commented on #1962
Closed by #1974

[2020-04-23 13:46] #1962 closed

[2020-04-23 14:27] ZipCPU opened #1991 "Default module input ports not handled properly"
## Steps to reproduce the issue

Using the [test.zip](https://github.com/YosysHQ/yosys/files/4523054/test.zip) file below, containing both a verilog file and a SymbiYosys script, run SymbiYosys.

The key line at issue in the file is the input line of the submodule,
[code]

If I understand how this is to work properly, `i_stall` should be set to zero only if it is not connected to any outside port.

[2020-04-23 14:48] whitequark commented on #1991
As far as I know, the code you wrote, in Verilog, implements a "continuous net declaration assignment" (IEEE 1364-2005 §6.1.1), and therefore if you connect anything to the input of the port, you get a driver conflict, which results in a `'x` value. I cannot find anything about "default input ports" in the LRM. Do you happen to know where in the LRM they are defined?

[2020-04-23 15:04] cliffordwolf commented on #1991
It's a SystemVerilog feature. From IEEE Std 1800-2012:

![image](https://user-images.githubusercontent.com/619764/80114767-3d5e7800-8584-11ea-86ba-448b67beffb9.png)

I think the problem in that example is that it is not using ANSI-style port declarations.

[2020-04-23 15:08] ZipCPU commented on #1991
This may well be.  If I switch to ANSI port declarations, the problem vanishes.  Further, the spec did say "Defaults can be specified only for inputs ports and *only in*ANSI style declarations.*"

If we go with the possibility that the test case is at fault, perhaps the "right" answer should be to create a warning for this case.

[2020-04-23 15:08] ZipCPU commented on #1991
Sorry ... I didn't mean to close it just now--I hit the wrong button.  (Oops!)

[2020-04-23 15:52] cliffordwolf commented on #1991
There already is a warning:

[code]

[2020-04-23 15:52] #1991 closed

[2020-04-23 15:58] ZipCPU commented on #1991
Thank you!

[2020-04-23 16:21] eddiehung commented on #1758
`1'b1` is better.

[2020-04-25 12:02] Afromaniac commented on #1053
I'd like to reaffirm that this is still an issue.

I'm planning on putting a few hours into checking if this can be resolved without major structural changes. It seems to me like the introduced autowires are actaully correctly resolved later on in the process but seeing hundreds of lines worth of spurious implicit signal declaration warnings in verilator-approved code does not make me feel confide

[2020-04-25 18:21] Afromaniac commented on #1053
Checked it out, this has been the behaviour since SVI were introduced which implies that it is nontrivial to simply 'fix'. I see two main ways of doing it:

**A**
In simplify.cc:1240:  Adding a special case to the `if (current_scope.count(str) == 0) {...}` block where local name resolution has failed.  Here we could check to see if the current identifier is some hierarchical name (`foo.bar`) - we

[2020-04-25 18:45] rubund commented on #1053
It has been a long time now, but I don't recall seeing those messages:
[code]
when first implementing this.

The implementation of SV interfaces was done altering as little of existing code as possible - and up to the point where the test designs I had passed correctly.

It would be nice to see B implemented in the long run, but it sounds like a lot of work. Could "A" be done in the meantime?

[2020-04-25 21:17] daveshah1 opened #2003 "opt_expr prevents driver/constant conflict warning"
[code]

Running `yosys -qp "opt_clean" driver_constant.v` gives
[code]

Running `yosys -qp "opt_expr; opt_clean" driver_constant.v` gives no warnings.

It seems wrong for something that has the possibility to cause significant unexpected behaviour (and arguably should be an error), to not even produce a warning depending on the sequence of passes called.

[2020-04-25 22:14] whitequark commented on #1286
It occurred to me that Yosys already has a pass that can avoid having such assignments be emitted: simply run `splitnets -driver` before `write_verilog`. Can you confirm this works (or does not) for you?

[2020-04-25 22:52] boqwxp opened #2004 "Yosys is missing a FIRRTL frontend"
Yosys is currently missing a [FIRRTL](https://github.com/freechipsproject/firrtl) frontend.  Verilog is not ideal as an interchange format, and nobody seems to be using BLIF much these days.  It is not necessary to support [everything in FIRRTL](https://www.eecs.berkeley.edu/Pubs/TechRpts/2016/EECS-2016-9.html); a frontend for just "lowered FIRRTL" or LoFIRRTL (see Chapter 11 of the spec) would be

[2020-04-26 12:32] pepijndevos commented on #1286
It seems that this would *reduce* the number of splits that are done. Post-synthesis verilog in Gowin is very limited and I'm already using plain `splitnets` to make it happy. I can try this when I look at the other Gowin changes Eddie suggested. (might be a while) What I think needs to be done is slightly different, which *does* split all the nets, but assigns individual bits to the output port.

[2020-04-26 19:58] byzantic commented on #1286
Actually, I think this was suggested when I first raised the issue. Unfortunately, it doesn't work.

Using `splitnets -driver` does not make any difference to my output netlist - I get the same errors.
Using `splitnets` by itself makes the issue worse - I get more occurrences of the problem.

I think the point is that it's _not_ a driver issue - `splitnets` is probably doing its job quite happily.

[2020-04-26 20:00] whitequark commented on #1286
Oh, you're right, and I misunderstood this issue.

[2020-04-27 14:06] cliffordwolf commented on #1990
Here is an improved minimal example:

[code]

There are two issues.

First is the issue that this code (without the added default assignment) infers a latch. We should detect that and then fall back to the original "big case" method of implementing. As a first work-around I will add a Verilog attribute that can be set on a register to force the "big case" method.

Second we have an issue with sign

[2020-04-27 18:37] smunaut commented on #1990
How does the original minimized example by @daveshah1 describes a latch ?  All 8 bits of mem_dm_w are always assigned ... And which bits of mem_dm_w  is assigned from which bits of wr_mask is known at compile time, it's in no way dependent on the input signals.

Also, even though I'm using `integer` the value is actually never negative, not sure if that matters or not ...

[2020-04-29 11:42] hackfin commented on #1959
I've done a bit of digging on the TDP inference, and managed to get a prototype mapping going through the Python API, but got sidetracked while working on test scenarios.
So, not sure if this helps, but referencing to the 'ghdl hemipshere':

https://github.com/ghdl/ghdl/issues/1069

The MyHDL test cases are outdated, I'll have to revisit/CI them again..

[2020-04-30 05:31] jshaker000 opened #2009 "Fail to parse hexadecimal constants that start with a B"
As the topic says,

[code]

The offending line (was)

`                   i_instruction == 'hb ? // JIO - jump to ADDR if last ALU op was odd`
Changing to

`                   i_instruction == 4'h0b ? // JIO - jump to ADDR if last ALU op was odd`

Fixed the problem

I assuem yosys was unsure whether to interpret it as a constant 0b1011 or to look for a binary number or ?

[2020-04-30 07:16] daveshah1 commented on #2009
I can't reproduce this. Is your Yosys up to date?

[2020-04-30 17:22] dh73 commented on #2009
I can't reproduce it either:
[code]

But since I don't have a mac machine to run it, and that `UNKNOWN` in place of the sha number looks suspicious, it might be something related to the OS/package versions.

Maybe @mmicko or @nakengelhardt are the best persons to do a quick check?.

[2020-04-30 17:31] whitequark commented on #2009
This was possibly fixed by 5e94bf029179257cb3539cc5096113a139e37ff5.

[2020-04-30 18:31] seldridge commented on #2004
@boqwxp: There does exist an Apache 2.0-licensed tree-sitter FIRRTL parser that may help here: https://github.com/chipsalliance/tree-sitter-firrtl.

Looping in @drom.

[2020-04-30 21:38] drom commented on #2004
Yes, @seldridge https://github.com/chipsalliance/tree-sitter-firrtl is a C++ parser and can be embedded in Yosys if someone is interested to do so.

[2020-05-01 05:30] boqwxp commented on #2004
@seldridge Oh, cool!  Somehow I missed that in my search. Thanks for pointing that out, and @drom for giving your blessing.

I am currently working on some other stuff, but I am interested in taking this up in a few days once I finish with that.

[2020-05-01 08:41] aimylios commented on #1966
Unfortunately #1973 has not resolved this issue for me. I'm building nightly yosys RPMs for Fedora, and I get the following error when running the tests:
[code]

I assume this is because the include folder is not specified correctly. `DATDIR` is set to `/usr/share/yosys` (as expected), but in Fedora the include files are located in `/usr/include/yosys`. Consequently, the path substitution `CXXFLAG

[2020-05-01 09:12] Xiretza commented on #1966
How does fedora build its yosys package? From what I can tell that sort of setup isn't supported by the makefile, headers are [always expected to be in `$(DATDIR)/include`](https://github.com/YosysHQ/yosys/blob/bc380b0b56e0fa269a0d5844280cc4419d438d3a/Makefile#L668). If fedora manually patches the makefile or moves the files around after `make install`, it would be their obligation to make sure ev

[2020-05-01 09:19] aimylios commented on #1966
Yes, indeed, Fedora patches the Makefile (see the [SPEC file for 0.9](https://src.fedoraproject.org/rpms/yosys/blob/master/f/yosys.spec) and the [patch](https://src.fedoraproject.org/rpms/yosys/blob/master/f/yosys-cfginc.patch)). If that's the preferred solution, I can of course add another patch to my nightly builds to fix plugin.sh. I just thought there might be a more universal solution to the

[2020-05-01 12:58] #1837 closed

[2020-05-01 13:02] cliffordwolf commented on #2004
What's wrong with just generating Verilog from FIRRTL and reading that into Yosys? When I originally discussed FIRRTL-Yosys integration with @azidar we thought that Verilog should work fine for that direction. cc @ucbjrl

[2020-05-01 15:42] seldridge commented on #2004
Having access to Yosys' equivalence checking at arbitrary points in the FIRRTL compiler would be useful to me. Some ideas:

- I'm a user writing a custom FIRRTL transform and I want to verify that my transform is not changing the function of the circuit. I can turn on a "safe execution mode" that runs Yosys equivalence checks on the FIRRTL IR before and after my transform.
- I'm a developer and I'

[2020-05-01 22:09] whitequark commented on #2004
For example, the fact that RTLIL semantics is neither as stable nor as well-defined as FIRRTL semantics is.

In practical terms, I would like to switch nMigen to emitting LoFIRRTL rather than RTLIL, unless Yosys is planning to offer the same kind of backwards compatibility guarantees as FIRRTL does. But if I had to generate Verilog first it would defeat the purpose of the exercise.

[2020-05-01 23:57] whitequark opened #2011 "Yosys compiler configuration is fundamentally incorrect and very misleading"
Yosys currently uses four variables in Makefiles whose names do not match their intended contents:

 * `$(CXX)` contains a path to universal C/C++ compiler frontend that runs in C mode
 * `$(CXXFLAGS)` contains flags for both the C and C++ code
 * `$(LD)` contains a path to the C++ compiler frontend
 * `$(LDFLAGS)` contains linker flags escaped with `-Wl,`

Not only the names are misleading and di

[2020-05-03 12:07] tilk opened #2020 "ROM memories initialized with $readmemh not using $memrd cells"
I have a question about memory handling. The following SystemVerilog is interpreted by the frontend as a memory - the `$memrd`, `$memwr` and `$meminit` cells are generated:
[code]
But if I remove the write port, this gets converted to separate values:
[code]
I can prevent this from happening by using `-nomem2reg`, but it is said that this is dangerous. Why is it happening? Is there something wrong

[2020-05-03 21:00] boqwxp commented on #2004
Here is a relevant quote from IRC re: Verilog Considered Harmful.

[code]

I think it is not only about why Verilog is bad for Yosys, but more about why Verilog is bad in general, and that Yosys should help encourage adoption of a better interchange format.

[2020-05-03 21:09] boqwxp commented on #2004
Unfortunately it looks like tree-sitter and thus https://github.com/chipsalliance/tree-sitter-firrtl depend on Node.js, which would add yet another dependency to Yosys.  I'm not so enthusiastic about that, and I understand if it's a deal-breaker for Claire.

Maybe I'll take a stab at implementing a LoFIRRTL parser in flex+bison, cribbing the grammar from https://github.com/chipsalliance/tree-sitte

[2020-05-03 21:19] whitequark commented on #2004
That's what I would do if I was implementing it, so the approach sounds good to me.

[2020-05-03 21:28] drom commented on #2004
`tree-sitter` and `tree-sitter-firrtl` is a C code generated from `grammar.js`
It does not require you having Node.js

[2020-05-03 21:42] boqwxp commented on #2004
@drom I see that, but I'm also not very enthusiastic about including only the output of some other tool and not the actual parser code itself.  Maybe if it's a very robust, complete implementation of the FIRRTL spec with no chance of needing expansion or modification in the future that could be justified, but I am otherwise not in favor of that approach.

[2020-05-03 21:56] drom commented on #2004
@boqwxp I see. That is why YoSyS is just using a very light dependency chain!
Coq, TeX, Python, Yacc, Bison, Flex, gawk, GraphViz, Tcl, Boost, ABC, xdot, etc.

[2020-05-03 22:02] boqwxp commented on #2004
Hey, I'm not the one who added those dependencies...
Just because there's dependency bloat doesn't mean we should make the problem worse.

[2020-05-03 22:26] whitequark commented on #2004
@drom Yosys does not depend on Coq (you think it does because you blindly trust GitHub's faulty language autodetection feature), Bison is a replacement for Yacc, xdot and GraphViz are the same program that is only used for debugging, Tcl, Python and Boost are completely optional and can be omitted by most people. You should actually verify what you're saying so you don't end up claiming nonsense.

[2020-05-04 14:08] towoe opened #2021 "Condition without statement syntax error"
## Steps to reproduce the issue

[code]

## Expected behavior

I am not completely sure if this is actually a valid Verilog syntax, but from the spec I read the following: "if (expression) statement_or_null" so I am assuming that with the "null" part is should be legal to have a condition without a statement.

## Actual behavior

1. Executing Verilog-2005 frontend: empty.v
Parsing Verilog input fr

[2020-05-04 15:56] nakengelhardt commented on #1960
They are used in modeling other types of ports, and it's easier to not to specially handle this case
where they are equivalent. If you have more ports you will end up with more fields for each port that will all have `; rom` as the comment, so either way you will need to work around it.

[2020-05-04 16:26] dh73 commented on #2021
Hello,
In the IEEE 1800-2015,  `A.6.6 Conditional statements`, shows the same syntax as you pointed out here. In the `if (on);` statement, the `;` is the null construct. However, the example is not correct, since conditional expressions can be used either in procedural assignments or generated instantiations (generate if). In that example, conditional statement is not under any of those.

This is

[2020-05-04 16:40] nakengelhardt commented on #2021
Tangentially, `statement_or_null` is defined in A.6.4 as `statement | { attribute_instance } ;` but if I try to add the optional attribute it doesn't work:
[code]
[code]
Am I doing it wrong, or is there some restriction on attributes I didn't notice?

[2020-05-04 16:49] towoe commented on #2021
Thanks @dh73 for the detailed reply!

The first example does work for me.

The example I posted was actually just an excerpt of something else. So my minimal example was not correct, but thanks for clarifying what is possible and correct.

But the following with the `generate` does not work as well. @dh73 should it?

[code]

The following does work
[code]

[2020-05-04 17:19] dh73 commented on #2021
@nakengelhardt I believe your example is correct, and the first generate example from @towoe it is also correct. What I am not sure if there is a user case to support the optional attribute, nor the conditional generate with no instantiation.

Both are supported by Symbiotic EDA frontend.

[2020-05-04 17:44] towoe commented on #2021
The Verilog code is the output of SystemVerilog to Verilog processing where some asserts (https://github.com/lowRISC/ibex/blob/master/rtl/ibex_id_stage.sv#L970) are not defined and therefore without any instantiations.

Just so I understand it @dh73, the first example is correct and should be accepted by the Verilog frontend? If so I could have a look at the code and do a PR.
And by Symbiotic EDA

[2020-05-04 18:13] dh73 commented on #2021
One second, the RTL in that link uses assertions constructs that are not defined in IEEE 1364-2005 but in IEEE 1800-20xx SystemVerilog,  and therefore, not supported by the Verilog frontend of Yosys. Suffix implication is not supported in Yosys Verilog frontend but Verific frontend.

Pardon me If I am not understanding, but if some tool is processing the SystemVerilog, to generate a Verilog from i

[2020-05-04 20:44] dh73 commented on #2020
Hello,

Small ROM memories are generally implemented in FPGA with combinational elements such as look-up tables, due quality of results (QoR) goals. Synchronous ROMs, or clocked ROMs, are implemented in the same way, but using flip-flops connected to either the address or the data out ports. Those are guidelines resulting from FPGA architectures and design goals. But users can guide the tools with

[2020-05-04 21:30] tilk commented on #2020
Thank you for your answer. I have three questions now:
1. Can I instruct my students to use `(* nomem2reg *)` attribute to get memory cells for the `rom` module, saying it's just for the needs of simulation?
2. I do not understand your comment regarding the code using the `initial` block for memory initialization. Yes, I did try to synthesize it, and yes, Yosys synthesizes it to memory cells. I do

[2020-05-05 03:22] dh73 commented on #2020
Gotcha, I understand now,

DigitalJS is a circuit simulator, therefore you get a memory using `initial for(i = 0; i < 16; i = i + 1) mem[i] = i;`.

This construct is __not synthesizable__ . I was speaking of synthesis tasks all the time, since that is the primary use of Yosys (and that is Yosys goal, process/generate synthesizable models).

What you see in this issue is one of these famous synthes

[2020-05-05 03:54] whitequark commented on #2020
@dh73 I understand where you're coming from with this answer, but I respectfully disagree with your position here. Let me explain why.

If I understand correctly, DigitalJS is a simulator of, specifically, *synthesizable logic*. It even says this on the main button:

![Screenshot_20200505_034318](https://user-images.githubusercontent.com/54771/81033290-8f57a580-8e82-11ea-8d76-d56a59620cf3.png)

Th

[2020-05-05 04:03] whitequark commented on #2020
@tilk @dh73 This is actually an issue with how Yosys handles the SystemVerilog `logic` type. If you replace `logic` with `reg` in the last example:

[code]

then the expected `$memrd` cells are produced.

[2020-05-05 04:13] whitequark commented on #2020
Preliminary fix at #2029.

[2020-05-05 06:31] towoe commented on #2021
You are correct @dh73 that's why the assertions do not end up in the Verilog source and the generate if construct contains `null`.

The tool I use is sv2v by the way. And it seems like @zachjs already did a PR.
Thanks to everyone for jumping on this issue.

[2020-05-05 08:30] dan-rodrigues opened #2030 "iCE40 DSP inference: Inferred multiply-add not working if parentheses omitted"
## Steps to reproduce the issue

1. [Test module to reproduce the issue](https://gist.githubusercontent.com/dan-rodrigues/2a4c6ab5fbf98357f4069ccf375a7f91/raw/30511b28e2258a0bde3abfe8ec6b4cd5fbdcb747/infer_mac_test.v).
2. `yosys -p "synth_ice40 -dsp" infer_mac_test.v`

## Expected behavior

`SB_MAC16` multiply-add is inferred. This can be seen if the commented block is used instead of the currentl

[2020-05-05 13:28] anishathalye commented on #2009
I'm using Yosys on a macOS machine. The example works for me on tip of tree (584780d776c92bc91731dbc2710dd8d9a624dc70). The [Homebrew version](https://github.com/Homebrew/homebrew-core/blob/master/Formula/yosys.rb) is quite out of date because the latest release of Yosys is 0.9, released August 2019.

@jshaker000 if you build from source manually / install with `brew install --HEAD yosys`, your ex

[2020-05-06 01:43] FFY00 opened #2032 "yosys master fails to build"
## Steps to reproduce the issue

My nightly yosys arch package builder just failed.

Build instructions can be found here: https://github.com/FFY00/symbiflow-arch-pkgs/blob/master/yosys-git/PKGBUILD

## Actual behavior

[code]

Workflow run: https://github.com/FFY00/symbiflow-arch-pkgs/runs/648044973

[2020-05-06 01:45] FFY00 commented on #2032
Please let me know if this is a problem in ABC, I am building it in-tree.

[2020-05-06 02:07] jshaker000 commented on #2009
You are right, I think that in this case simply the brew package is quite out of date (actually the arch linux package is quite out of date too - what I use in my VM), but that wouldnt be a yosys bug itself.

[2020-05-06 02:07] #2009 closed

[2020-05-06 05:55] Xiretza commented on #2032
Yosys now uses a vendored fork of ABC: https://github.com/YosysHQ/yosys/blob/283b1130a651324ff870059dc3b1cf869948db93/Makefile#L141

The [yosys-git PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=yosys-git) on the AUR uses a different approach for the ABC submodule handling that caused a more obvious build failure (because the pinned ABCREV couldn't be checked out), and has since

[2020-05-06 06:01] FFY00 commented on #2032
I'll update the url. The sources should not be checked out in `prepare`.

[2020-05-06 06:05] Xiretza commented on #2032
Off-topic here, but why? And where should it be done instead, `build()`?

[2020-05-06 06:11] FFY00 commented on #2032
They should be checked out by `makepkg` directly as specified in the `sources` array. The is a bit tricky for these cases. Checking them out in `prepare` goes against the guidelines but it isn't a particularly bad hack and I would say acceptable in this case. Although if it is possible to do it another way, that would be better.

[2020-05-06 07:18] Xiretza commented on #2032
Oh, sure, that'd be best - however the [VCS Package Guidelines](https://wiki.archlinux.org/index.php/VCS_package_guidelines#Git_Submodules) actually recommend using `git submodule update` in `prepare()` for submodules, which is basically a checkout, so I wouldn't even be so sure about it being against guidelines.

[2020-05-06 07:35] boqwxp commented on #2004
I have maybe 20% of an initial attempt at a skeleton for a FIRRTL frontend, nowhere even close to complete at https://github.com/boqwxp/yosys/tree/frontend-firrtl in case anyone wants to follow.  I make no guarantees about development speed, though ;).

I actually did not even look at https://github.com/chipsalliance/tree-sitter-firrtl/blob/master/grammar.js ; I've just been reading [the spec](htt

[2020-05-06 15:14] FFY00 commented on #2032
Although somewhat antipattern, it is required in some cases.

[2020-05-06 15:33] seldridge commented on #2004
tl;dr of my comments on [firrtl#1562](https://github.com/freechipsproject/firrtl/issues/1562): The FIRRTL compiler implementation is *spaces only*. Tabs are disallowed/rejected (and therefore mixed tabs/spaces). This should be clarified in the spec. I'm checking with FIRRTL devs to just double check that this is what we want to enshrine.

[2020-05-06 16:09] boqwxp commented on #2004
OK, I see, thanks.  I'm glad that mixing tabs and spaces is disallowed! :)

[2020-05-06 19:45] strobo5 opened #2035 "Illegal Verilog output after 'proc_prune'; assigns 'reg' from a constant"
## Steps to reproduce the issue

The following procedure generates illegal Verilog (at least XST fails and quick research tells me it cannot be blamed).
`assign a_pc[1:0] = 2'h0;` (outside an always block)
When the ilang code is changed so that the default case is named explicitly (`case` -> `case 1'1`) then the Verilog code is as expected.
[code]
[code]

## Expected behavior

[code]

## Actual be

[2020-05-06 21:47] whitequark commented on #2035
So, `write_verilog` tells you that the input contains processes and it doesn't guarantee that the result will be correct, right? Looks like one of those cases.

What are you trying to do exactly?

[2020-05-06 21:56] whitequark commented on #2004
@boqwxp Looking forward to using your frontend!

[2020-05-07 07:45] Strobokopp commented on #2035
Mh well it says "Unintended changes in simulation behavior are possible!"

I have a small nMigen design around [minerva](https://github.com/lambdaconcept/minerva) which fails during synthesis in ISE after a recent change https://github.com/lambdaconcept/minerva/commit/890975e4d3ccdc1f5a57dd9d0c6b9f27dd35688f . This is the troublesome part of the Verilog code from nMigen (`python mydesign.py genera

[2020-05-07 09:32] whitequark commented on #2035
Hm, you're right, and my initial assessment was incorrect--this has nothing to do with processes.

Rather this is an interesting corner case and a bug in `write_verilog`

[2020-05-07 09:33] whitequark commented on #2035
As a workaround I suggest you use the complete `proc` command before handing off the results to ISE.

[2020-05-07 10:07] hackfin opened #2036 "pyosys autogeneration: Parser skips a few functions due to line breaks in header"
## Steps to reproduce the issue

* Build yosys with pyosys Python extension
* Run code below:

[code]
## Expected behavior

`$adff` Element being added to the module

## Actual behavior

Method not found, because not generated in the python module from the parser auxiliary `misc/py_wrap_generator.py`, due to undetected line breaks in `rtlil.h`

Quick workaround: Remove line breaks. See also patch.

[2020-05-07 14:46] nakengelhardt opened #2037 "Syntax error for attribute in front of statement"
While looking at #2021 I noticed that the verilog standard allows attributes in more places than yosys currently accepts, such as e.g. in front of any statement (including the null statement).
[code]
[code]
As attributes have no defined meaning, we should accept and ignore any unknown attribute in any of the allowed locations.

[2020-05-07 15:09] nakengelhardt commented on #2021
The null statement issue was fixed in #2028; I've opened a new issue (#2037) for the attribute thing.

[2020-05-07 15:09] #2021 closed

[2020-05-07 22:28] thomasdavidjansen opened #2039 "Verilog parameter propagation does not work"
Parameter propagation does not seem to be complete. The "OPERATION_WIDTH" parameter value from the "ALU_Test_Top" module seems to not be propagated to the "output wire [OPERATION_WIDTH - 1:0] o_result" line.

Setting the default value of the "OPERATION_WIDTH" parameter in the "ALU_Test" module to 32 (i.e. replacing "#(parameter OPERATION_WIDTH = 0)" with "#(parameter OPERATION_WIDTH = 32)") makes

[2020-05-08 05:30] whitequark commented on #2037
Once this is fixed I think the Verilog backend should be fixed to emit attributes on individual case branches such that they apply to the statement(s) inside the case branch; currently it emits a [comment](https://github.com/YosysHQ/yosys/blob/master/backends/verilog/verilog_backend.cc#L1584) instead. This is only really used for the `src` attribute.

[2020-05-08 08:36] cliffordwolf opened #2040 "Part-select write in always @* causes logic loop warnings"
## Steps to reproduce the issue

The following is a simplified version of the test case from #1990.

[code]

Run with `yosys -p 'prep; show' test.v`.

## Expected behavior

This should simply reduce to `x = 2'b10`. (It does with `BUG = 0`.)

## Actual behavior

Current Yosys master (8ec3b6d) produces a circuit with a topological loop.

![image](https://user-images.githubusercontent.com/619764/8138

[2020-05-08 08:38] cliffordwolf commented on #1990
The signed expression aspect of this issue has been fixed in #2005. Issue #2040 replaces this one for the logic loop problem.

[2020-05-08 08:38] #1990 closed

[2020-05-08 13:16] ZipCPU commented on #2039
The warning is due to the fact that Yosys evaluates the submodule twice: first with its default parameters, for which it generates the warning, and then again a second time with the correct parameter values.

This is currently the way Yosys handles parameters.

[2020-05-08 15:48] dh73 commented on #2020
Thank you for the detailed explanation!

[2020-05-08 17:16] eddiehung commented on #2039
What @ZipCPU is saying is correct. Basically, when you do `./yosys -f "verilog -sv" file.v` you are implicitly doing a `read_verilog file.v`. What `read_verilog` does is it both analyses (i.e. builds the AST) and elaborates (i.e. converts into RTLIL) the design. Since there is no concept of `hierarchy` at this step, it elaborates each module in the design as if it was a top module, using default p

[2020-05-08 17:32] eddiehung commented on #2030
So the relevant lines of your testcase are:
[code]

In the first case, the result before the `coarse` label is this:
![first](https://user-images.githubusercontent.com/6740044/81431863-bdedae80-9116-11ea-8678-ea4ef14d5b73.png)

And for the second case:
![second](https://user-images.githubusercontent.com/6740044/81431880-c47c2600-9116-11ea-9e47-bb1e57c25d93.png)

In the first case, you can see that

[2020-05-08 19:38] thomasdavidjansen commented on #2039
Thanks for the clarification. Although "-defer" solves the problem as expected, this is still a sort of usability issue. Could the warning maybe be extended to indicate that it might be that there is actually no issue with the Verilog code and that the warning cant be silenced with "-defer"?

Something like this: "Warning: Range select out of bounds on signal `\o_result': Setting result bit to und

[2020-05-08 19:38] #2039 closed

[2020-05-08 20:02] thomasdavidjansen opened #2042 "Verilog Parser Failure"
Yosys Version: 06104249406972de01d0360df63a32cafcdf2ec5

## Steps to reproduce the issue

Run the following command: yosys -f "verilog -sv " -p "synth_ice40 -top Task_Test_Top -json Task_Test_Top.json" Task_Test_Top.v

with the below code:

**Task_Test_Top.v**
[code]
## Expected behavior

Some sort of syntax error message.

## Actual behavior

Yosys parser fails with the below error message:

**ER

[2020-05-09 02:22] eddiehung commented on #2039
I would say that the default parameters of a module should typically be valid for elaboration; there's no reason not to and using invalid parameters as a way of preventing parameter-less instantiation (or preventing use as a top module) is quite brittle.

Longer term, I would say that `-defer` should be enabled by default, but that would require `hierarchy` to be able to infer top modules by analy

[2020-05-09 02:27] whitequark commented on #2039
Ideally not, since this would cause a problem in every case where the AST is not available, i.e. `connect_rpc`. But I think the frontend can emit an attribute that lists the *used modules* so that the `hierarchy` pass can do a topological sort without looking at AST or elaborating the modules.

[2020-05-11 10:29] hackfin opened #2043 "pyosys API: Silent aborts (segfault/assert())"
## Steps to reproduce the issue

A number of Python API calls can 'crash' the Python interpreter due to segfaults or assert() exits from the yosys kernel side.

I've collected them in a binder with a fairly recent pyosys build:

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/hackfin/myhdl.git/jupyosys?filepath=src%2Fmyhdl%2Fmyhdl-yosys%2Fexample%2Fipynb%2Fpyosys_issues

[2020-05-11 20:02] eddiehung commented on #2042
A more meaningful error is now output by #2045 -- which is that Yosys does not support non-ANSI task/function ports yet.

[2020-05-13 04:56] gojimmypi commented on #1028
@eddiehung I am seeing a similar error. (see also https://github.com/icebreaker-fpga/icebreaker-examples/issues/10)

[code]
when I run `yosys-abc -nocleanup -showtmp` I get an interesting message:
[code]
I have the dependencies installed per the [instructions](https://github.com/YosysHQ/yosys#setup), but perhaps something is still missing? Any idea how to find _what_ is missing?

As mentioned in h

[2020-05-13 07:08] daveshah1 commented on #1028
This is a totally unrelated problem so please continue any further discussion on a new issue. Please make sure you have tried a totally clean rebuild, and also include the output of `ldd /usr/local/bin/yosys-abc`.

[2020-05-13 13:33] nakengelhardt commented on #1028
@gojimmypi I often see the "Note: Make sure that 'iverilog' is an up-to-date git checkout of Icarus Verilog." error, but it goes away when I run `make test` again. Haven't been able to figure out what causes it, but it's unrelated to abc problems. The second error you get after rebuild seems to be a different one (the line about libreadline is no longer there), have you tried running yosys-abc man

[2020-05-13 15:34] sequencer opened #2047 "Create a RPC interface as an optional replacement to tcl"
Currently, if user wanna interact with yosys, the only way is invoke a tcl shell to send command and receive command. The result is hard to parse, and string only without type struct informations.
So I wonder if possible to add a json/protobuf based RPC interface as a optional replacement to tcl which contains a more serializable API for other program to interact with yosys.

[2020-05-13 15:37] whitequark commented on #2047
Have you seen pyosys?

[2020-05-13 15:44] sequencer commented on #2047
Yes, I saw that, but I think that API is a python wrapper to tcl, which still doesn't have a standard API which embedded with Json/Protobuf or something else. Not sure if I'm right?

[2020-05-13 18:25] whitequark commented on #2047
Nope. Unlike vendor toolchains Yosys isn't built around Tcl, and frankly the Tcl interface is an afterthought.

[2020-05-13 19:15] gojimmypi opened #2048 "yosys-abc failed return code 127; libreadline6 vs libreadline7"
I [commented in #1028](https://github.com/YosysHQ/yosys/issues/1028#issuecomment-627745567) on what I thought was a similar issue, but apparently it is unrelated, so I'm opening this new issue as [suggested](https://github.com/YosysHQ/yosys/issues/1028#issuecomment-627792593).

## Steps to reproduce the issue

I'm installing `yoysys` on a fresh WSL Ubuntu 18.04.4 LTS system per the [instructions](

[2020-05-13 19:16] gojimmypi commented on #1028
@daveshah1 and @nakengelhardt thanks for the suggestions. I've opened a new https://github.com/YosysHQ/yosys/issues/2048 for the problem I am seeing

[2020-05-13 19:22] daveshah1 commented on #2048
Can you run `which make`, `which g++` and `echo $LDFLAGS` to rule out anything like breaking the environment (I've seen conda do stuff like this before).

[2020-05-13 20:05] gojimmypi commented on #2048
[code]
fwiw, I tried building `yosys` with each of these (separately, of course) with the same result for each:
[code]

[2020-05-13 20:10] daveshah1 commented on #2048
Most mysterious, that all looks fine. Can you do a `ls -l abc/abc-*` inside the yosys tree to make sure that Yosys is actually rebuilding abc? And also post the output of `readlink /usr/lib/libreadline.so`.

[2020-05-13 20:20] gojimmypi commented on #2048
that is mysterious. the file is days old, even after I do a `make clean`, it is still there:
[code]
and `readlink /usr/lib/libreadline.so` returns nothing (error code 1)

I kicked off another `make`... but it takes some time to complete....

[2020-05-13 20:22] daveshah1 commented on #2048
Ah, I'm not use to Debian style environments, it would be `readlink /usr/lib/x86_64-linux-gnu/libreadline.so` that you need to run.

[2020-05-13 20:28] gojimmypi commented on #2048
[code]
build is at 45%, two warnings:
[code]

[2020-05-13 20:43] gojimmypi commented on #2048
build complete.  `abc/abc-*` unrefreshed. Manually delete?
[code]

[code]

[2020-05-14 03:01] gojimmypi commented on #2048
@daveshah1  I have this resolved: I deleted the entire `yosys`, recloned it, and built it fresh.

I had done this before, but it may have been only in a prior Unbuntu version (I did a in-place upgrade to 18.04 when I could not get `yosys` working on older release).  Most recently I was only doing `make clean`.

I believe the root cause of this problem is `make clean` does not clean _everything_, w

[2020-05-14 15:55] wtatarski opened #2053 "Produced edif gives Multiple Driver Nets error."
## Steps to reproduce the issue
In general I want to build this design https://github.com/wtatarski/Artix-7-HDMI-processing using `ghdl` + `ghdl-yosys-plugin` + `yosys` + `Vivado` (I use 2017.2 version). I managed to build design using only `Vivado`, but for flow with `ghdl` I'm getting about 30 errors related to `ERROR: [DRC MDRV-1] Multiple Driver Nets`.
You can try to build the whole design as

[2020-05-14 16:45] #2042 closed

[2020-05-14 18:56] #1758 closed

[2020-05-15 00:30] mwkmwkmwk opened #2058 "Fix 0-WIDTH wire handling in techmap rules."
#2027 fixed broken handling of `[-1:0]` wires that a lot of our techmap rules relied on for 0-width input handling — several cases of this were already fixed in #2027 itself, but more problems remain (eg. https://github.com/YosysHQ/yosys/commit/ee6e51e20e39dbaaed032d43697532eabd4fe8ff — reported on the IRC channel). They need to be fixed, perhaps with help of some verilog extension to better manag

[2020-05-15 16:45] piegamesde opened #2060 "Follow the XDG Base Directory Specification"
## Steps to reproduce the issue

Yosys should follow the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html).

## Expected behavior

Please don't do that. Put it into `$XDG_DATA_HOME/yosys/` or `$XDG_CACHE_HOME/yosys/` instead.

## Actual behavior

I just found a `.yosys_history` file while cleaning up my home directory.

[2020-05-15 16:59] whitequark commented on #2060
Yosys isn't an X11 or a desktop application.

Although in some cases (like Rust's [Cargo tool](https://github.com/rust-lang/cargo/issues/1734)) you can argue that the existing `~/.cargo` directory benefits from being split into configuration and cache directories so that existing tools don't e.g. unnecessarily backup the cache, Yosys isn't one of such cases: it only writes a history file.

[2020-05-15 17:36] piegamesde commented on #2060
The XDG specifications grew out of their name a while ago and can be applied to all kinds of software, not only graphical/desktop/Xorg applications.

That's great, because it will be easy to change. As software grows and gets older, more of those files  start appearing and migrating a big code base to the XDG specification afterwards is way harder than growing when appropriate code is already ther

[2020-05-15 17:42] whitequark commented on #2060
What are the actual benefits in case of Yosys, besides "my `$HOME` is cleaner" which is entirely subjective, and "it'll cause more problems later" which is a slippery slope fallacy?

[2020-05-15 18:21] piegamesde commented on #2060
Having all application data at only three locations makes it easier to manage. For example, it is more convenient to clean up files of removed software when it's not hidden between user data.

But yes, to me "my $HOME is cleaner" is the biggest point and all my arguments more or less boil down to this.

[2020-05-16 17:30] smunaut opened #2061 "ice40: opt_lut can break carry packing by moving SB_CARRY out to another input than I3"
## Steps to reproduce the issue

Here's a fairly minimal example that show the issue :

[code]

Build with :

[code]

And if you look at the LUT that generates bit 12, you'll see the carry out of the previous bit is connected to I2 instead of I3.

This prevents nextpnr to properly pack the carry chain.

AFAICT this "bug" is added during the `opt_lut` pass. bit 12 doesn't have a SB_CARRY associated

[2020-05-16 19:08] smunaut commented on #2061
From what I gather a similar issue can also happen at the LSB because the missing `CI` connection (in case there is not external carry in and it's forced to 1/0) would also prevent the `dlogic` system from `opt_lut` from triggering and protecting the `I1`/`I2` connections.

[2020-05-16 19:24] whitequark commented on #2061
I think that maybe `dlogic` should be replaced with hardcoded logic for various families. IIRC @daveshah1 spoke out in favor of keeping it--what was the argument there?

[2020-05-16 19:39] daveshah1 commented on #2061
I don't remember that - in general I am in favour of arch-specific code over trying to make things totally generic (the same philosophy applies to nextpnr in general). There may have been a specific argument at the time that I've now forgotten, though.

[2020-05-16 19:42] whitequark commented on #2061
OK, then I don't know anyone who is in favor of `-dlogic`. Let's replace that with arch-specific code.

[2020-05-17 06:35] smunaut commented on #2061
Maybe I'm wrong, but I feel this would be way easier (and less of a guessing game) if the arithmetic mapping and the carry unwrap step was keeping a link like :  This is the LUT+CARRY that should be together and this is the carry from the previous/next bit ...

[2020-05-17 09:44] cliffordwolf opened #2062 "Add support for non-power-of-two mem chunks in verific importer"
See #2052 for test case and test bench. Unfortunately #2052 (173aa27) did not fix the issue and thus was reverted in fa8cb3e.

[2020-05-18 02:27] antonblanchard opened #2065 "ECP5 and Xilinx synthesis hits issue in kernel/rtlil.cc:867"
We are hitting an issue in yosys when building the rotator in microwatt. To make it easier to reproduce, I've converted the VHDL to Verilog by passing it through yosys.

To reproduce:

[code]

Which hits:

[code]

Both ecp5 and xilinx hit this.

[2020-05-18 02:28] antonblanchard commented on #2065
[code]

[2020-05-18 02:41] whitequark commented on #2065
cc @mwkmwkmwk

[2020-05-18 06:31] daveshah1 commented on #2065
See also #2058. If this is going to take a while to be fixed, maybe we should revert #2027 so master remains usable?

[2020-05-18 11:46] antonblanchard commented on #2065
I can confirm that reverting e936ac61ea22 "ast: swap range regardless of range_left >= 0" fixes it.

[2020-05-18 11:48] mwkmwkmwk commented on #2065
This is a duplicate of #2058, yes.

[2020-05-18 16:17] mwkmwkmwk commented on #2065
Should be fixed by #2067, can you try that out?

[2020-05-18 22:37] antonblanchard opened #2068 "GHDL assertions end up in json, nextpnr complains"
I'm hitting an issue building microwatt with ghdl/yosys/nextpnr where nextpnr complains about an assertion. I'm not sure if yosys shouldn't emit them, if nextpnr should ignore them, or if they are unsupported and ghdl shouldn't emit them.

A simple example:

[code]

[code]

[code]

[2020-05-18 22:48] whitequark commented on #2068
Duplicate of #177.

[2020-05-18 23:14] antonblanchard commented on #177
Thanks, I guess the SystemVerilog reproducer was a bit of a red herring. Should GHDL not emit Assert entries at all, or have an option to not emit them? It seems a bit strange to be doing it there, vs yosys or nextpnr.

[2020-05-18 23:14] antonblanchard commented on #2068
Thanks, I guess the SystemVerilog reproducer was a bit of a red herring. Should GHDL not emit Assert entries at all, or have an option to not emit them? It seems a bit strange to be doing it there, vs yosys or nextpnr.

[2020-05-18 23:30] daveshah1 commented on #2068
It wouldn't be too problematic to drop these cells in the nextpnr frontend, if that is the consensus then I'm happy to do that. But I don't know what would happen with synth_xilinx and the EDIF backend, or xilinx/ice40 going into VPR or arachne-pnr via BLIF.

[2020-05-18 23:42] whitequark commented on #2068
Should we perhaps just delete formal cells at the end of every device-specific flow? I'm not sure what the downsides to that are.

[2020-05-18 23:42] #2058 closed

[2020-05-18 23:46] daveshah1 commented on #2068
Hypothetically I suppose some kind of post-synthesis verification might need them?

[2020-05-18 23:59] mdko opened #2069 "Input and Outputs of a Basic Wire Connection from Verilog-to-BLIF Output Are Reversed after 'opt_clean' pass"
Note upfront: I'm not sure if this is actually a bug, so I've put what I expect and then actually get below. I'd appreciate any insight into what I'm misunderstanding or doing wrong if in fact it is not a bug. Thank you very much.

## Steps to reproduce the issue

1. Unzip the [attached files](https://github.com/YosysHQ/yosys/files/4647431/issue-simple.zip)
2. Run `yosys -s simple.ys`
3. Observe t

[2020-05-19 01:34] antonblanchard commented on #2065
Thanks @mwkmwkmwk, that does fix my issue.

[2020-05-19 01:45] #2065 closed

[2020-05-19 09:03] daveshah1 commented on #2069
This is because `opt_clean` attempts to remove "alias names" - where more than one name applies to the same wire - out of any active paths to simplify the design, while still preserving the aliases as "dangling" connections.

Visualise this with the following example:

[code]

Before `opt_clean`, the assignment is in the cone of `q`:
![Screenshot from 2020-05-19 10-01-01](https://user-images.githu

[2020-05-20 05:22] whitequark commented on #2060
I wasn't aware of the full breadth of software that uses XDG Base Directories these days, including `ps`, `nano`, `htop`, `hg` and so on. So I agree that with that context, it makes a lot of sense for Yosys to support them as well.

[2020-05-22 08:55] kost opened #2071 "ERROR: Assert `no_loops' failed in passes/techmap/abc9_ops.cc:754"
## Steps to reproduce the issue

Standard build of SNES_MiSTer_ulx3s
[code]

outputs:

[code]

Yosys version (latest git):
[code]

## Expected behavior

Expected behavior is to build without errors. it builds correctly without -abc9

## Actual behavior

[code]

[2020-05-22 17:28] eddiehung commented on #2071
It looks like this needs the GHDL plugin. Can you provide the testcase as a Verilog or ILANG file please?

[2020-05-23 03:45] kost commented on #2071
I'm not sure I can, but maybe @daveshah1 can help since it's his baby.

[2020-05-23 09:07] daveshah1 commented on #2071
Please see ILANG attached, run `yosys -p "synth_ecp5 -top top -abc9" snes.il`

[snes.zip](https://github.com/YosysHQ/yosys/files/4671436/snes.zip)

[2020-05-25 13:35] ZirconiumX commented on #1474
So, I was examining this a bit further.

Here's the solution before relaxation:
![flowmap-relax-1-initial](https://user-images.githubusercontent.com/1503707/82815425-13ed8080-9e91-11ea-8d97-94003d2e34d3.png)

The most important thing to note, in my opinion, is that this solution is area-optimal already, and `flowmap` should have returned as such: there is no way to relax the design without increas

[2020-05-25 16:14] #2037 closed

[2020-05-25 23:42] eddiehung commented on #2071
So it looks like there are some combinatorial loops inside this design:
[code]
Nonetheless `abc9` should be handling it more gracefully; should be fixed in #2082.

[2020-05-26 07:18] daveshah1 commented on #2071
These combinational loops didn't exist before, they might be related to the fairly new $pmux support in ghdl - or they might be a false path.

[2020-05-27 05:40] whitequark commented on #2032
@FFY00 Is this still an issue?

[2020-05-27 05:40] whitequark commented on #2035
I've looked closer at this and I'm afraid it'll require some fairly significant re-engineering of the Verilog backend to properly fix.

[2020-05-28 00:00] boqwxp opened #2094 "manual: Cannot `make manual`: missing `APPNOTE_010_Verilog_to_BLIF.pdf`"
Steps to reproduce:
----

Install `texlive-full` and the luximono font.  Clone the master branch from scratch in a temporary directory.  `make && sudo make install`.  All goes well up to here.

Now try to build the manual PDF: `make manual`.

Expected result:
----

Successful creation of manual PDF.

Actual result:
----

pdflatex error:
[code]

Note
----

FWIW I have also manually run `appnotes.sh

[2020-05-29 14:37] #1523 closed

[2020-05-30 13:40] baiyunping333 commented on #795
in my case, because of my strip

[2020-06-01 09:54] boqwxp opened #2100 "`make test` failure on master, probably trivial fix"
## Steps to reproduce the issue

`$ make test`

## Expected behavior

Should pass.

## Actual behavior

[code]

Looks like it's also causing CI failures, e.g. for the rebased #2019 and #2093 .

[2020-06-01 18:32] Xiretza commented on #1959
From an RTLIL (post-inference) PoV:

Currently, memories seem to have two possible representations: Either as a combination of an `RTLIL::Memory` and zero or more of each `$memrd`, `$memwr`, and `$meminit`, or as a single `$mem` cell. The former could be used to represent most of the requirements outlined here right now, while `$mem` falls completely flat for asymmetric memories (all read address,

[2020-06-01 19:38] mwkmwkmwk commented on #1959
We could also support arbitrarily many independent ports by basically concatenating them in `$mem` interface ports (see what `$macc` cell is doing), though I don't consider it a particularly clean approach.

[2020-06-01 20:00] whitequark commented on #1959
@clairexen Is it really not an option to replace `$mem` with fine grained `$mem*` cells? One problem this would solve is formal verification of indirect memory accesses of the form `mem[mem[x]]` which currently has no good solution.

[2020-06-02 05:19] xinanhuang opened #2103 "ld: library not found for -ltcl8.64)"
Error generated when building yosys on mac os 10.14.6.
Error occurred when building yosys-filterlib9774.

[2020-06-02 15:13] #2100 closed

[2020-06-04 00:35] #2071 closed

[2020-06-04 01:51] whitequark opened #2106 "flatten is not hygienic"
Suppose `test.v` is:
[code]
Run: `yosys test.v -p flatten`.

This will crash with an assertion:
[code]

I plan to fix this issue as a part of my `flatten` improvements.

[2020-06-04 11:25] whitequark commented on #2047
Closing since pyosys already implements this.

[2020-06-04 11:25] #2047 closed

[2020-06-04 18:43] programmerjake opened #2111 "cxxrtl backend uses unsigned shift for signed shift cell"
As far as I can tell, this should use `value::sshr` or set the `Signed` template parameter to true.

https://github.com/YosysHQ/yosys/blob/352731df4e0bf344cd20533a5561bc8ba3e07853/backends/cxxrtl/cxxrtl.h#L922-L925

[2020-06-05 01:39] whitequark commented on #2111
@programmerjake #2113 looks good?

[2020-06-05 10:24] #2111 closed

[2020-06-06 01:09] zinsserzh opened #2114 "systemverilog typedef enum in package can not be used in interface"
## Steps to reproduce the issue

[code]

## Expected behavior

If `pkg::status_code status;` is changed to `bit [1:0] status;` verilog frontend is working fine
[code]

## Actual behavior

From yosys master
[code]

[2020-06-08 01:32] zachjs opened #2118 "Assertion failure during synth_ice40/fsm_extract"
I encountered an assertion failure while running `synth_ice40` as part of the OpenTitan Yosys synthesis flow. I've been able to reproduce it in the much smaller Ibex synthesis flow. I'm not sure if I can easily make the reproduction steps much smaller.

## Steps to reproduce the issue

Note the the ibex flow depends on sv2v. The source files can be generated using:
[code]

Then, using Yosys built

[2020-06-08 02:08] whitequark commented on #2118
For future reference (this issue already has a proposed fix), you can use the `bugpoint` pass to automatically minimize assertion failures.

[2020-06-08 09:14] mmicko commented on #2062
Guess this one should be closed, since that is now supported by #2101

[2020-06-08 13:18] #2118 closed

[2020-06-08 16:34] dh73 commented on #2114
Just a note for the provided example.
For enumerated types, IEEE 1800-2012 in the `6.19.3 Type Checking` section:

By this specific lines:
[code]
You're assigning a non enumerated type variable to an enum, violating the SystemVerilog strongly typed rule. The synthesis tool can do one of two things in this case:
1) Automatically cast the `sin` variable.
2) Blackboxing the  `a` module due violation

[2020-06-08 20:19] #2106 closed

[2020-06-08 22:19] zachjs opened #2123 "Allow constant functions within generate if condition"
## Steps to reproduce the issue

Run Yosys on the following file (`read_verilog` is sufficient):
[code]

`top` is not necessary to reproduce the bug, but is useful to ensure the module is being instantiated correctly.

## Expected behavior

Given that `flip` is a constant function, its use should be permitted within the condition of an `if_generate_construct`. Yosys should successfully read the mo

[2020-06-09 06:24] tomverbeure opened #2124 "cxxrtl: error: use of undeclared identifier 'debug_item'"
## Steps to reproduce the issue

I have a minimal blinky design to test CXXRTL VCD wave dumping:

[blink_vcd.tar.gz](https://github.com/YosysHQ/yosys/files/4750256/blink_vcd.tar.gz)

I run `make`.

## Expected behavior

It compiles.

## Actual behavior

Both g++ and clang++ fail to compile `cxxrtl_vcd_capi.cc`.

clang++:
[code]

g++:
[code]

## Environment

* Ubuntu 18.04
* g++ (Ubuntu 7.5.0-3ubun

[2020-06-09 06:27] whitequark commented on #2124
https://github.com/YosysHQ/yosys/pull/2125

[2020-06-09 07:41] tomverbeure opened #2127 "cxxrtl RFE: helper methods to cast internal data representation to bool, integer, etc."
Right now, when the main wrapper around a CXXRTL model wants to access the value of a port or signal, it needs to dive into the internal data representation of the model.

Like this:
[code]

For a cxxrtl user, `curr` and `data` are implementation details that should be hidden and that might change as internal specializations are implemented (e.g to increase performance)

CXXRTL needs some casting

[2020-06-09 07:50] whitequark commented on #2127
For context, the API you are currently using is a public one. It is a fundamental part of CXXRTL's design and it is extremely unlikely that it will ever be changed, including the `uint32_t` chunk size. There are a few auxiliary structures that I've described as "internal", but `value`, `wire`, `memory`, `metadata` and `module` are all public.

So I consider this issue a "quality of life" enhanceme

[2020-06-09 07:52] #2124 closed

[2020-06-09 07:59] tomverbeure commented on #2127
If the current data structure is considered frozen, then there's indeed not much to improve on that front.

I suspect that most people will want to know the current value, not the next one, so a way to avoid having to include `curr` might be useful.

[2020-06-09 08:04] whitequark commented on #2127
It's unlikely to change, but not because it's frozen or because of ABI stability. It's because I benchmarked `int32_t` against `intptr_t` and found no runtime benefit to the latter, whereas the space overhead is easy to see. If you have good evidence in favor of `intptr_t` we can switch to it.

Right, I'm thinking about adding accessors like `.get<int>()` and `.set<int64_t>()` to both `value` (whe

[2020-06-09 08:08] whitequark commented on #2127
(There's also the fact that having chunk size different depending on the architecture carries the inherent hazard that people would accidentally depend on a specific chunk size. So the performance benefit here must be large enough to outweigh that drawback, not just nonzero.)

[2020-06-09 08:56] whitequark commented on #647
Now that https://github.com/YosysHQ/yosys/commit/fbb346ea91a04f2feaf6fa96770fe0cd57020e75 is in, I might be able to fix this soon.

[2020-06-09 08:59] whitequark commented on #1676
@towoe I believe that the commit https://github.com/YosysHQ/yosys/commit/fbb346ea91a04f2feaf6fa96770fe0cd57020e75 fixes this issue by attaching a `hdlname` attribute during flattening. Is there anything left to do, in your understanding?

[2020-06-09 09:05] daveshah1 commented on #647
The main implementation complexity is that it introduces a new constraint on elaboration ordering - the size of the wire in the target module must be known before elaborating the module containing the reference.

[2020-06-09 09:16] whitequark commented on #647
Oh, yeah, I missed that.

[2020-06-09 09:22] Xiretza commented on #1959
@clairexen any update on this?

[2020-06-09 10:06] dan-rodrigues opened #2129 "write_cxxrtl crashes with assertion failure on $meminit cells with non-constant ADDR/DATA"
As requested:

## Steps to reproduce the issue

`yosys -p 'read_ilang ics32_ilang; write_cxxrtl -O0 sim.cpp'`

Using the following as input:
[ics32_ilang.zip](https://github.com/YosysHQ/yosys/files/4751382/ics32_ilang.zip)

## Expected behavior

Outputs sim.cpp without error

## Actual behavior

[code]

## Version

Yosys built from c172b30c24285faa2b57f84a2a5162c5f3dcfb4c

[2020-06-09 10:08] whitequark commented on #2129
This has no bearing on this issue (it is clearly a bug) but please note that using levels lower than `-O2` with cxxrtl has virtually no benefits and it will cause the generated C++ to stress your C++ compiler a lot.

[2020-06-09 11:57] whitequark commented on #2129
The direct cause of the issue is that some `$meminit` cells did not have constant address/data due to the specific script used. Of course this shouldn't assert. But I'm not sure where the code to check for that should live; right now it's in `memory_collect`, but cxxrtl specifically does *not* want `$mem` cells. @clairexen opinions?

[2020-06-09 12:42] clairexen commented on #1959
@whitequark Sorry, I don't understand what "fine grained $mem* cells" means in this context. Can you elaborate?

[2020-06-09 12:48] whitequark commented on #1959
I meant, can we get rid of `$mem` completely and instead use only `$memrd`, `$memwr` and `$meminit`? The only problem created by this change (that I'm aware of) that couldn't be fixed within Yosys is simulating structural Verilog netlists, but I think we can just put the logic that currently lives in the `$mem` simulation model in `write_verilog` itself.

[2020-06-09 12:50] nakengelhardt commented on #2123
This looks like it has a common cause with #1799, that function calls with constant arguments are not properly recognized as constant expressions.

[2020-06-09 15:13] #2062 closed

[2020-06-09 16:28] #2040 closed

[2020-06-09 18:09] tomverbeure commented on #2127
32-bit is probably much better from a memory usage point of view.

[2020-06-09 18:39] whitequark commented on #2127
Right, that's true, what I mean is that I also found no improvement in runtime. Of course my benchmarking could be flawed so if that turns out to be the case and the current tradeoff turns out to be bad I'm open to changing it.

[2020-06-09 19:02] tomverbeure commented on #2127
Ok! Let's just stay at 32 bit.

[2020-06-10 05:39] tomverbeure opened #2137 "cxxrtl RFE: enhance cxxrtl_object with additional type flags"
Right now, cxxrtl_object only contains type (value, wire, memory), width, depth, and value.

The comments in the source already say: "More description fields will be added in the future, b...", but I want to make this more concrete: I'd like to see a flag that indicates that a wire is driven by a FF (IOW, an `is_ff_cell`), by a sync cell (`is_sync_ff_cell`), whether or not it's an internal port, w

[2020-06-10 11:48] whitequark commented on #2137
Everything you need to do that is already provided. The subset of simulation state you're looking for is just the state stored in objects with type `CXXRTL_WIRE`. Note that it wouldn't be enough to add a single flag per `cxxrtl_object` anyway: CXXRTL is a coarse grain simulator and you can drive a wire partially with FF outputs and partially with comb outputs, for example.

Note that multiple `CXX

[2020-06-10 22:16] madscientist159 opened #2143 "ECP5 PDPW16KD primitive missing address lines?"
Looking at the definition of the ECP5 PDPW16KD primitive in ```echlibs/ecp5/cells_bb.v```, the write port seems to be missing the upper 5 address lines when compared to the primitive in TN1264.  This is expected to make operation in any width less than 36 bits impossible.

Was this intentional?

[2020-06-10 22:45] madscientist159 commented on #2143
@daveshah1 In the TN1264 document page Table 9 shows the extra address bits.

[2020-06-11 10:33] mmicko opened #2144 "Change SYMBIOTIC_VERIFIC_API_VERSION with each build"
Make SYMBIOTIC_VERIFIC_API_VERSION in form yyymm  (so 202006 for June build) will allow us to better check compilation process when new SEDA specifc features are added in Verific library. This format will be good enough to support range of APIs so some functionality can work for customers owning older library changes or at least warn that update is needed.

[2020-06-11 22:45] daveshah1 commented on #2143
This looks to be an error in the docs, the PDPW16KD primitive in Diamond only has 9 address bits. Once again, if you can show a design that uses a write width other than 36 for PDPW16KD then I'll be happy to fix.

[2020-06-11 22:45] #2143 closed

[2020-06-11 22:54] madscientist159 commented on #2143
@daveshah1 I'll take your word for it -- it doesn't make much difference for our designs, and it wouldn't be the first time significant errors have been found in the Lattice documentation...

[2020-06-12 05:28] mikey commented on #2068
Is there any movement on this? I retested with the latest docker images in ghdl/synth:nextpnr-ecp5 and we are still hitting this.

[2020-06-12 07:02] whitequark commented on #2068
This was rejected in #177.

[2020-06-12 07:02] #2068 closed

[2020-06-14 12:16] miek opened #2157 "cxxrtl: signed shr doesn't sign-extend correctly for values smaller than chunk size"
When (signed) shr handles the final chunk
https://github.com/YosysHQ/yosys/blob/74e93e083ff23f3381fe2409e5847f9843840b17/backends/cxxrtl/cxxrtl.h#L382

if, for example, chunk::bits is 32, Bits is 16, and the shift is 1 then this will only fill bit 31 of the chunk.
The RHS should be equivalent to `chunk::mask << (Bits - shift_bits)` when the value is smaller than the chunk size.

Also I think there

[2020-06-14 12:21] whitequark commented on #2157
Yep, that line is a bug--I actually noticed it this morning. Care to send a PR?

[2020-06-14 12:41] miek commented on #2157
Yep, will do. I need to think about it some more now though, I just realised this applies to larger values too. I think it hits any value that's not a multiple of the chunk size, when the shift is less than the chunk size.

[2020-06-15 01:37] #2157 closed

[2020-06-15 04:00] antonblanchard commented on #2068
@whitequark I'm a bit confused, these are runtime asserts in the VHDL, and GHDL is passing them through to yosys. Should we get GHDL to strip them all out?

[2020-06-15 04:05] whitequark commented on #2068
The Verilog backend also passes the asserts through to Yosys. The solution offered in #177 was to use the Verilog preprocessor to strip asserts for synthesis. Does VHDL have one?

[2020-06-15 04:48] mikey commented on #2068
@tgingold @eine is this something we could do in ghdl-synth?

[2020-06-15 05:55] tgingold commented on #2068
1) You can use the `chformal -remove` yosys command to remove all the formal cells.  That's an immediate workaround.
2) We could add a `-no-assert` or `-no-formal` options to the ghdl front-end to disable all the assertions.

[2020-06-15 07:49] splhack opened #2161 "ICE40 ABC issue?"
## Steps to reproduce the issue

I'm trying to output VGA signal on TinyFPGA BX (ICE40LP8K).
The signal doesn't work only with default `ABC`, probably due to some timing, even though it worked before.

### Results on master 74e93e083ff23f3381fe2409e5847f9843840b17
synth_ice40  option|Result
------------ | -------------
(Default = ABC) | :x:
`-retime`| :white_check_mark:
`-noabc`| :white_check_mark

[2020-06-15 07:50] mikey commented on #2068
@tgingold IMHO a `-no-assert` would be nicer for microwatt as then we wouldn't need to change our code specifically for ghdl-synth/yosys. We don't use formal at all currently.

[2020-06-15 08:14] whitequark commented on #2068
Wait, you don't use formal? Why do you get assertions in the input netlist then?

[2020-06-15 13:19] ZipCPU commented on #2161
When you say the signal "doesn't work", can you be more specific?

I've chased several bugs down through ABC, and they've most often been associated with registers whose timing wasn't explicitly driven--things like not using SB_IO's for outputs where timing was important.  The yosys change just revealed the bug in the underlying user design, rather than actually being broken itself.

Dan

[2020-06-15 15:50] eddiehung commented on #2161
See https://github.com/YosysHQ/yosys/pull/1682#issuecomment-583097452

TL;DR: Like simulated annealing placement, ABC's default techmapper is chaotic in that it can return different solutions -- some better, some worse -- depending on the logical function and/or its input ordering (the latter being akin to a placer's random seed). Unfortunately, even ABC's author through the comment above accepts

[2020-06-15 21:26] mikey commented on #2068
@whitequark we just use asserts. An example that's causing us problems is [here](https://github.com/antonblanchard/microwatt/blob/master/execute1.vhdl#L241).
Happy to take pointers if we are doing this the wrong way.

[2020-06-15 22:19] madebr opened #2162 "make install does not install headers"
## Steps to reproduce the issue

I am in the process of packaging yosys for [conan, a c/c++ package manager](https://conan.io/) with the final aim to have it published at [ConanCenter](https://conan.io/center/).

Part of the conan build process is testing whether the library can be used correctly.
This requires the install prefix to contain headers to include.

But `make install` does not install

[2020-06-15 22:49] madebr commented on #2162
It looks like the headers are installed to `share/include` :man_facepalming:

[2020-06-15 22:49] #2162 closed

[2020-06-16 05:50] tgingold commented on #2068
@whitequark The possibility to use assertions in VHDL exists since the first standard (1987) and is not exactly considered as formal methods.

It is now possible to use the `--no-formal` option for synthesis with ghdl.

[2020-06-16 07:30] splhack commented on #2161
thank you for the clarification!

[2020-06-16 07:30] #2161 closed

[2020-06-17 00:09] #1960 closed

[2020-06-17 13:55] nakengelhardt opened #2165 "Properly specify and reimplement opt_clean/clean"
The behavior of `opt_clean` is frequently adjusted to fix some issues, which then causes other issues, etc. In the latest iteration, unused wires with public names are now retained, but their driving circuit is removed, which leads to [wrong behavior displayed in traces](https://github.com/YosysHQ/SymbiYosys/issues/91).

@clairexen suggested that we need to write an actual specification of what `o

[2020-06-17 14:01] nakengelhardt commented on #2165
Some elements that come to mind:

- If any wire or cell is kept (explicitly via `(* keep *)` or implicitly because of a public name), anything that is driving this wire/cell should no longer be considered unused.

- The `-purge` argument may not be differentiated enough. I can think of three use cases:
  1) Formal or other close-to-the-original-code uses: don't remove any public nets, or their dri

[2020-06-17 14:53] whitequark commented on #2165
This would very much help CXXRTL!

[2020-06-17 15:00] madebr opened #2166 "cxxrtl backend generates non-working c++ sources when NDEBUG=1"
## Steps to reproduce the issue

1. Build yosys using:
[code]
2. create design **blinky.v**
[code]
3. Create script **proc.ys**
[code]
4. Execute
[code]

Then the generated sources are non-functional.

## Expected behavior

*Working* c++ sources

## Actual behavior

<details><summary>BlinkyTop.sim.h</summary>
<p>

[code]

</p>
</details>

<details><summary>BlinkyTop.sim.cpp</summary>
<p>

[code]

[2020-06-17 18:00] whitequark commented on #2166
I can reproduce this, thanks for the report.

[2020-06-17 19:29] whitequark commented on #2166
See https://github.com/YosysHQ/yosys/pull/2167.

[2020-06-18 02:00] eddiehung commented on #2165
See #2003 and https://github.com/YosysHQ/yosys/pull/2076#issuecomment-636231300 -- the latter a case where private wires with `(* init *)` are replaced with a public wire -- for two more wishlist items to bear in mind.

[2020-06-18 03:06] nmoroze opened #2169 "write_smt2 behavior with multiple clock domains"
## Steps to reproduce the issue
Synthesize a file with multiple clock domains into SMT-LIB, like the following:
[code]
Example Yosys command:
[code]

## Actual behavior
This results in output like this:
[code]

## Expected behavior
The documentation of `write_smt2` says the following about the `<mod>_t` function:

However, this isn't the case in this example, if you consider a valid state transiti

[2020-06-18 16:57] #2166 closed

[2020-06-18 19:10] ekiwi-sifive commented on #2169
This might also be relevant for the `write_btor` backend.

[2020-06-18 21:52] whitequark commented on #2127
Please try using https://github.com/YosysHQ/yosys/pull/2171 and report results.

[2020-06-19 03:52] #2127 closed

[2020-06-19 14:24] acomodi opened #2176 "Attributes get lost when passing through ABC9"
## Steps to reproduce the issue

[test_loc.tar.gz](https://github.com/YosysHQ/yosys/files/4804986/test_loc.tar.gz)
Yosys version https://github.com/YosysHQ/yosys/commit/ede4b10da8fdbdcff900b93c6c723516901483ff.

1. extract the tar
2. run `./run.sh`: this should return `LOC constraint is present!` at the end of the execution
3. run `./run_abc9.sh`: this should return `LOC constraint is not present!

[2020-06-22 05:21] mikey commented on #2068
@tgingold this works with microwatt. Thanks.

[2020-06-22 06:55] ZirconiumX commented on #2176
cc @eddiehung

[2020-06-22 20:03] davidthings opened #2183 "ERROR: Mismatch in directionality for cell port..."
## Steps to reproduce the issue

Possibly the same issue as https://github.com/YosysHQ/yosys/issues/2053

My code uses arrays where some lines are inputs and some are outputs.  With recent Yosys builds, some small part of this code is that used to work for a long time is no-longer compiling.  The code still functions in Vivado, fyi.

Boiled down, the following snippet illustrates this.

There is a

[2020-06-22 20:46] whitequark commented on #2183
Do you think you could bisect the issue? I don't have any hardware performant enough to make that reasonably fast so it'll be a lot easier for me to look into it if someone else narrowed down the problem.

[2020-06-22 20:49] davidthings commented on #2183
Damn!  I was feeling so proud that I got it down to that small from my 10k code base!

Can you say a little more about how I could help further?

[2020-06-22 20:51] whitequark commented on #2183
Having a minimal test case is super helpful! I suspect (but don't know for sure) that the bug is introduced somewhere between f57524cf713e2cdc368ded8b7e13f85d310b8749 and 8c4cb1885b2cb6b7b26d7b9b7113e174c0eefffd (current master). Could you bisect Yosys to narrow it down to a single commit?

[2020-06-22 20:52] davidthings commented on #2183
Oh!  That.  Yes.  I'll give it a shot.  (I thought you meant bisect the example!)

[2020-06-22 21:04] davidthings commented on #2183
https://github.com/YosysHQ/yosys/commit/f57524cf713e2cdc368ded8b7e13f85d310b8749 - fails

[code]
[code]

[2020-06-22 21:13] whitequark commented on #2183
Huh, that's weird--I assumed it was a recent change that I introduced that broke your flow, but seems like it wasn't. Can you try a commit from a few months back? I'm not really sure when exactly it broke then...

[2020-06-22 21:14] davidthings commented on #2183
Yep

https://github.com/YosysHQ/yosys/commit/f88bef767263590c94e157d0989afa91db3ccdb0 - fails

[code]

[code]

[2020-06-22 21:18] daveshah1 commented on #2183
could it have been #1721 that broke this?

[2020-06-22 21:25] davidthings commented on #2183
I'll check that next, Dave.  Meanwhile...

April 24 - https://github.com/YosysHQ/yosys/commit/bbf343589ba2b4508afdfaed17dfd11c3252cf7f - fails
[code]

[code]

[2020-06-22 21:33] davidthings commented on #2183
I'll check the one prior.

Feb 25 - https://github.com/YosysHQ/yosys/pull/1721/commit/5cae9c6e1628db7223a205d2444ef26e682007a5 - fails

[code]
[code]

[2020-06-22 21:50] davidthings commented on #2183
Uh oh...

Feb 22 - #1715 - https://github.com/YosysHQ/yosys/commit/6edca05793197a846bbfb0329e836c87fa5aabb6 - fails

[code]
[code]

[2020-06-22 21:53] whitequark commented on #2183
Maybe check 0.9 next?

[2020-06-22 21:59] davidthings commented on #2183
OK.  0.9 next.  Meanwhile...

 Jan 30 - https://github.com/YosysHQ/yosys/commit/60876ce183ee5f3980c378e190d996453d59a780 - fails

[code]

[code]

[2020-06-22 22:03] davidthings commented on #2183
When was "0.9"?

[2020-06-22 22:08] whitequark commented on #2183
1979e0b1f2482dbf0562f5116ab444280a377773

[2020-06-22 22:10] davidthings commented on #2183
Dec 31 - https://github.com/YosysHQ/yosys/commit/c082329af33cd428f53f5afbcb51fab8de545090 - fails

[code]
[code]

[2020-06-22 22:23] davidthings commented on #2183
Something weird is going on. The test case fails here, but my actual code does compile.  I suspected it would because I know I have pulled Yosys since Nov 1.

Nov 1 - https://github.com/YosysHQ/yosys/commit/c4bd318e76240d3e6a95109c19641cdfd86517b8 - fails

[code]
[code]

[2020-06-22 23:14] whitequark commented on #2183
I think the message is actually correct--you *are* assigning to inout bits that are used as outputs in the inner module.

[2020-06-22 23:28] davidthings commented on #2183
OK.  Because you're you, we're going to assume you're correct...

[code]
But help me to understand... in tests_tbx, we assign data_shadow[7:0] with a thing, we pass that as param 1 - `data_in` into `worker`.  In `worker` we assign `data_out` from `data_in`.  How is that assigning to bits that are outputs?  We make no commitments about bit 8.

Meanwhile, I'm trying the bisection again with my actua

[2020-06-22 23:30] whitequark commented on #2183
That's a mistake... I was in fact wrong, I misread the code. Sorry for the noise.

[2020-06-23 01:11] davidthings commented on #2183
@whitequark, it seems like it's

4ef9ee3c4210a9d0c3b6491a0c89ee3365c77779 Jun 8 18:24

that breaks my code.

[code]
Whereas its immediate predecessor,

467152d79fd4c8e25b48481f742fe318b1395728 Jun 8 17:38

Compiles it fine.

Is this enough information?  My "excellent" test code above fails in both cases, so it's not very diagnostic.  If you look at the check in, and nothing pops out I can have ano

[2020-06-23 01:34] whitequark commented on #2183
That... makes no sense. There's no actual changes in that commit outside of CXXRTL.

[2020-06-23 03:11] davidthings commented on #2183
Quintuple checking

[code]

What would be awesome is if there were a simple test case that also fails in this way.  The right thing to do is to just leave it - there is a working build, but there is another deeper bug that it may be related to.  Let me work on it for a bit.

Thanks for your time so far @whitequark

[2020-06-23 03:45] davidthings commented on #2183
Here's a tiny test that shows the error between the two builds.

[code]

Then here's what building with the two branches results in

[code]

Switching to other toolset

[code]

[2020-06-23 04:22] whitequark commented on #2183
Hm, now that I look closer, the Git history is confusingly nonlinear here. There are quite a few commits between the two you provided:
[code]
Can you narrow it down further?

[2020-06-23 05:39] davidthings commented on #2183
You guys have been busy

[2020-06-23 10:12] Xiretza commented on #1959
After some great discussion on IRC yesterday, I thought I'd add my memory cell redesign draft here as well: https://gist.github.com/Xiretza/fec08b9810a66efd368705a7f4a51aa7

Executive summary (of revision 2):
- Removed `$mem`
- Added output register init/reset functionality to `$memrd`
- Added a new `$memrdwr` cell for a combined read+write port with shared clock and address; read and write port h

[2020-06-23 13:33] davidthings commented on #2183
I see!  Learning a bit here.  Despite being consecutive commits in the log, because the more recent one is a merge where your work is joined by the work of others, the actual issue could arise from anything between where you branched (210d129 @ 6/7/20) and 4ef9ee3.  Your list above is a list of those commits.  Perhaps I can narrow it down to one merge branch by testing the merges...

![qgit_yosys]

[2020-06-23 14:30] davidthings commented on #2183
Using the revised test code above (`module subworker`, etc.) , it looks like possibly d3e210030 is the culprit.

4ef9ee3c4 - **FAILS** - Merge pull request #2121 from whitequark/cxxrtl-debug-aliases
369dcb4e8 - Merge pull request #2085 from rswarbrick/select
0f209378a - Merge pull request #2089 from rswarbrick/modports
fbd0d8d5f - **FAILS** - Merge pull request #2105 from whitequark/split-flatten-

[2020-06-23 15:15] eddiehung commented on #2176
I'll try and look at it on the weekend.

[2020-06-24 06:50] gkamendje opened #2187 "package import issue"
## Steps to reproduce the issue
In the file my_pkg.sv I have the following

package my_pkg;
       parameter KL=64;
endpackage

in the file top.sv I have the following
import my_pkg::*;
module top(
        input logic i_clk,
        output logic o_done
);
endmodule

## Expected behavior
The tool should accept the top level file since it is a valid syntax. This is a common way to import all the con

[2020-06-24 10:43] whitequark commented on #2183
Ah so looks like d3e2100 is the issue, I expected something like that.

[2020-06-24 20:16] HackerFoo opened #2190 "Stack overflow in XAigerWriter::bit2aig(Yosys::RTLIL::SigBit)"
## Details

[code]

## Steps to reproduce the issue
Unpack the tarball and run `sh crash.sh`

[crash.tar.gz](https://github.com/YosysHQ/yosys/files/4827512/crash.tar.gz)

Crashes with https://github.com/YosysHQ/yosys/commit/0835a86e30fc2a934f5e6c96b28c90b59654ed92, doesn't crash with yosys-2020.02.07 from [nixpkgs](https://nixos.org/nixos/packages.html?attr=yosys&channel=nixos-20.03&query=yosys) (

[2020-06-24 21:03] zacchaeuswilliams2 opened #2191 "Error: ABC execution of command "(...)/yosys-abc -s -f (...)/abc.script 2>&1" failed: return code -1"
## Background

I am working with the [OpenROAD-flow](https://github.com/The-OpenROAD-Project/OpenROAD-flow) toolchain, and am trying to get [designs](https://github.com/mit-ll/CEP/tree/master/hdl_cores) from MIT LL Common Evaluation platform (CEP) to go through it. The toolchain use yosys for synthesis and makes use of the ABC tool.  I have been able to get the example designs and other designs fr

[2020-06-24 21:11] Ravenslofty commented on #2191
This is a downstream bug, you should file this at https://github.com/The-OpenROAD-Project/yosys instead.

[2020-06-24 21:14] daveshah1 commented on #2191
And if the problem isn't in OpenROAD's Yosys fork then it is almost certainly in ABC. Have you tried running abc inside valgrind to see if it is a memory issue that is only triggered when ABC is run by Yosys for some obscure, probably OS and libc-dependent (and therefore hard to reproduce) reason.

[2020-06-24 21:54] Ravenslofty commented on #2190
cc @eddiehung

[2020-06-25 13:31] clairexen commented on #2165
I don't think that a wire without `(* keep *)` on it should be kept if it's unused, in the general case. That would be a big issue in synthesis flows imo.

For single bit wires:
1. if `(* keep *)` then handle as if it would be a primary output and always keep it
2. if it is driven by a constant then we should keep it (unless `-purge`)
3. if it is driven by a non-constant and not used then we shoul

[2020-06-25 13:53] whitequark commented on #2165
Would it be? The reason I want that in synthesis flows as well is so that I can insert scan cells and have the retrieved data mapped back to all levels of hierarchy in a flattened design, not just to one (random, or topmost) level.

[2020-06-26 00:00] FFY00 commented on #2032
Sorry, I got lost on a few other things. This can be closed.

[2020-06-26 00:00] #2032 closed

[2020-06-26 11:02] mmicko opened #2194 "Sim pass do not support $memwr"
After change https://github.com/YosysHQ/yosys/commit/abf81c76396d674833d1dce3f3f75a43f76e2a1f for memories now we get $memwr instead of $mem in example provided, and $memwr is unsupported, so test breaks.

Please find case in :
[test.zip](https://github.com/YosysHQ/yosys/files/4836534/test.zip)

[2020-06-26 11:05] mmicko commented on #2194
@daveshah1 can you please check if memory handling is a special case for your change or this is something that is valid so $memwr needs to be supported ?

[2020-06-26 12:32] daveshah1 commented on #2194
I don't think I understand how that patch is creating `$memwr`s instead of `$mem`?

[2020-06-26 12:34] daveshah1 commented on #2194
Looking at the script there is no call to `memory_collect` or any other memory pass so I don't see how you could have ever had `$mem`, either.

[2020-06-26 12:35] mmicko commented on #2194
Ok, thanks for checking, will ping @clairexen for this

[2020-06-26 12:38] daveshah1 commented on #2194
If it worked before the patch, maybe it was never trying to evaluate the `$memwr` so just silently broken instead of noisily broken.

[2020-06-26 15:40] clairexen commented on #2194
that sounds like a reasonable guess to me.

[2020-06-28 16:31] Xiretza opened #2196 "$shift and $shiftx ignore \A_SIGNED"
## Steps to reproduce the issue

[code]

## Expected behavior

`$shift` behaves the same as `$shr` for positive/unsigned `B` operands.

## Actual behavior

`$shr` sign-extends its `A` operand according to `\A_SIGNED` before shifting, `$shift` always zero-extends.

If this is the desired behaviour, `check` should error on an asserted `\A_SIGNED` for `$shift`/`$shiftx`, since it cannot possibly have